<%- include('partial/header') %>
<%- include('partial/nav') %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="stylesheets/contact.css">
<div id="schedule">
<h1>Schedule a Demo</h1>
</div>
<div id="tiger">
    <div class="child">
      <p>In the demo session, our product consultant will walk you through StoreHippo platform and answer your queries about the platform and how it can help launch and scale your business model.

      </p>
      <h4>You will learn how you can:</h4>
      <span><i class="fa-solid fa-circle"></i>Build, manage and promote your online store</span><br>
      <span><i class="fa-solid fa-circle"></i>Create a global and omni-channel presence for your online business</span><br>
      <span><i class="fa-solid fa-circle"></i>Improve your business productivity with powerful tools</span>
        
    </div>

    

    

    <div class="child1">
     <div id="form">
      <form action="">
        <p>Name</p>
        <input type="text" placeholder="username"    required="" name="username"><br>
        <p>Work Email</p>
        <input type="email" placeholder="Email"   name="email" required=""><br>
        <p>Company</p>
        <input type="text" placeholder="company Name"    name="company"><br>
        <p>Phone</p>
        <input type="number" placeholder=" Enter number"    name="number"  autofocus=""><br>
        <p>Message</p>
        <textarea rows="3" cols="50" placeholder="Message Write"></textarea><br>
        <button id="btn">SUBMIT</button>
      </form>
     </div>
    </div>
</div>
<!-- footer -->
<div id="page12">
  <div id="tag5">
      <h2>Information</h2>
      <p>About Us</p>
      <p>Careers</p>
      <p>Contact Us</p>
      <p>Media</p>
      <p>Privacy Policy</p>
      <p>Social Responsibility</p>
      <p>Merchant Agreement</p>
      <p>Partner Program</p>
      <p>PCI-DSS Certification</p>
      <p>ISO Certification</p>
  </div>
  <div id="tag5">
      <h2>Support</h2>
      <p>API Reference</p>
      <p>Experts</p>
      <p>Forums</p>
      <p>Help Center</p>
      <p>Support Home</p>
  </div>
  <div id="tag5">
      <h2>Explore</h2>
      <p>Blog</p>
      <p>Examples</p>
      <p>Industries</p>
      <p>Marketing</p>
      <p>Sitemap</p>
      <p>Solutions</p>
      <p>Technology</p>
      <p>Themes</p>
      <p>Topics</p>
      <p>Wiki</p>
      <p>Use Cases</p>
      <p>Stats</p>
  </div>
  <div id="tag5">
      <h2>Features</h2>
      <p>All Features</p>
      <p>B2B Ecommerce</p>
      <p>Integrations</p>
      <p>Logistics</p>
      <p>Mobile Commerce</p>
      <p>Multi Store Ecommerce</p>
      <p>Multi-vendor</p>
      <p>Multilingual</p>
      <p>Ecommerce</p>
      <p>Payment Gateways</p>
  </div>
  <div id="tag5">
      <h2>Comparison</h2>
      <p>StoreHippo Vs Others</p>
      <p>Storehippo Vs Shopify</p>
      <p>StoreHippo Vs Magento
      </p>
      <p>StoreHippo Vs SAP</p>
      <p>StoreHippo Vs</p>
      <p>WooCommerce</p>
      <p>StoreHippo Vs</p>
      <p>BigCommerce</p>
  </div>
 </div>
<div id="page13">
  <div id="mobile">
      <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/64f832050c4b25a6895275a4/pci_logo.webp" alt="">
      <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/64f8321573deccfda3accb6c/iso1.webp" alt="">
  </div>
  <div id="mobile1">
      <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/651eb03467c855fc7bf78806/retail-dna-logo.png" alt="">
      <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/651eb0b568fc4631c18be6ea/e-commerceplatforms_highperformer_highperformer.png" alt="">
      <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/64f8324e033076a5c7d5a416/e-commerceplatforms_highperformer_india_highperformer_2023.png" alt="">
      <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/64f83f4cdb28d06e273a4ced/image-1.png" alt="">
      <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/64f8326c0c4b25a689528104/crozdesk-shopping-cart-software-leader-badge.png" alt="">
  </div>
</div>
<div id="footer">
  <p>© copyright 2020 <span>StoreHippo.com</span> . All Rights Reserved.</p>
</div>

<script src="javascripts/contact.js"></script>
<%- include('partial/footer') %>
