<%- include('partial/header') %>
<link rel="stylesheet" href="stylesheets/explore2.css">

<%- include('partial/nav') %>
<div id="main">
    <h1>Server and Data Security</h1>
    <p>Built-in Multi-Layer Protection

        Secure your business and customers’ data with robust Security measures.</p>
        <a href="/signup">START FREE</a>
        <a href="/schedule">SCHEDULE DEMO</a>
</div>

<div id="trial">
    <h1>Secure server hosting and robust Security for your e-commerce business</h1>
</div>

<div id="page1">
    <div id="left">
        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/ms.pages/5cf50c8bb7784d784dce7eb9/5cf50c2a1194d277e0137be5-640x640.png" alt="">
    </div>
    <div id="right">
        <h1>Server Security</h1>
        <p>Extend the Security control and unique threat intelligence of Microsoft Azure to your online store powered by StoreHippo. StoreHippo secures and safeguards your data and network using the Azure cloud computing platform and services.</p>
    </div>
</div>

<div id="page2">
 <div id="part-left">
    <h1>PCI-DSS</h1>
    <p>Ensure payment information and customers’ data safety by building PCI DSS complaint sites built on StoreHippo's secure ecommerce platform. Maintain a secure PCI DSS compliant network for multi-level transactions for your customers, vendors, distributors, affiliate partners etc.</p>
 </div>
 <div id="part-right">
    <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/6228559faed2ad4ebf7a3b54/pci-2-640x640.png" alt="">
 </div>
</div>
<div id="page3">
    <div id="nav-part">
        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/622852c2394c41a158ff6083/iso-27001-1-640x640.png" alt="">
    </div>
    <div id="nav-part1">
        <h1>ISO Compliant</h1>
        <p>Minimize security risks at various levels within your organization with StoreHippo international standard compliant (ISO/IEC 27001:2013 (ISO 27001) ecommerce platform. Enforce IT security procedures with StoreHippo’s all-inclusive security management program that adheres to the industry best practices for security.</p>
    </div>
</div>

<div id="page4">
    <div id="slide">
        <h1>SSL</h1>
        <p>43% of customers abandon a site when they see a “security alert” message on HTTP sites. Offer robust ecommerce security on your online store by enabling a FREE SSL certificate directly from your StoreHippo admin. Get an improved SEO score and higher SERP ranking with an HTTPS website.</p>
    </div>
    <div id="slide1">
        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/622846df9df80ff7e8d03fca/ssl-640x640.png" alt="">
    </div>
</div>

<div id="page5">
    <div id="left-nav">
        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/6228476d01a2b5f87d02e408/transaction-security-640x640.png" alt="">
    </div>
    <div id="right-nav">
        <h1>Transaction Security</h1>
        <p>Secure your online transactions with all credit/debit cards being processed by PCI DSS compliant Payment Gateway partners. Ensure ecommerce security and safe online transactions with 60+ domestic and international payment gateways, wallets, UPI and other payment methods.</p>
    </div>
</div>

<!-- footer -->
<div id="page11">
    <div id="talent">
        <a target="_blank" href="https://www.facebook.com/StoreHippo"><i class="fa-brands fa-facebook-f"></i></a>
         <a target="_blank" href="https://twitter.com/StoreHippo"><i class="fa-brands fa-twitter"></i></a>
         <a target="_blank"  href="https://www.youtube.com/channel/UCcDoHBL7DVQNl5ApYs8sq3w"><i class="fa-brands fa-square-youtube"></i></a>
         <a target="_blank" href="https://www.linkedin.com/company/hippoinnovations/"><i class="fa-brands fa-linkedin"></i></a>
         <a target="_blank" href="https://www.instagram.com/storehippo_/"><i class="fa-brands fa-instagram"></i></a>
         <a id="range" target="_blank"  href="https://in.pinterest.com/mystorehippo/"><i class="fa-brands fa-pinterest"></i></a>
    </div>
    <div id="talent1">
        <h1>Create your online store with StoreHippo</h1>
        <input type="email" placeholder="Enter your Email" name="email">
        <a href="/">GET STARTED</a>
    </div>
   </div>

   <div id="page12">
    <div id="tag5">
        <h2>Information</h2>
        <p>About Us</p>
        <p>Careers</p>
        <p>Contact Us</p>
        <p>Media</p>
        <p>Privacy Policy</p>
        <p>Social Responsibility</p>
        <p>Merchant Agreement</p>
        <p>Partner Program</p>
        <p>PCI-DSS Certification</p>
        <p>ISO Certification</p>
    </div>
    <div id="tag5">
        <h2>Support</h2>
        <p>API Reference</p>
        <p>Experts</p>
        <p>Forums</p>
        <p>Help Center</p>
        <p>Support Home</p>
    </div>
    <div id="tag5">
        <h2>Explore</h2>
        <p>Blog</p>
        <p>Examples</p>
        <p>Industries</p>
        <p>Marketing</p>
        <p>Sitemap</p>
        <p>Solutions</p>
        <p>Technology</p>
        <p>Themes</p>
        <p>Topics</p>
        <p>Wiki</p>
        <p>Use Cases</p>
        <p>Stats</p>
    </div>
    <div id="tag5">
        <h2>Features</h2>
        <p>All Features</p>
        <p>B2B Ecommerce</p>
        <p>Integrations</p>
        <p>Logistics</p>
        <p>Mobile Commerce</p>
        <p>Multi Store Ecommerce</p>
        <p>Multi-vendor</p>
        <p>Multilingual</p>
        <p>Ecommerce</p>
        <p>Payment Gateways</p>
    </div>
    <div id="tag5">
        <h2>Comparison</h2>
        <p>StoreHippo Vs Others</p>
        <p>Storehippo Vs Shopify</p>
        <p>StoreHippo Vs Magento
        </p>
        <p>StoreHippo Vs SAP</p>
        <p>StoreHippo Vs</p>
        <p>WooCommerce</p>
        <p>StoreHippo Vs</p>
        <p>BigCommerce</p>
    </div>
   </div>
 <div id="page13">
    <div id="mobile">
        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/64f832050c4b25a6895275a4/pci_logo.webp" alt="">
        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/64f8321573deccfda3accb6c/iso1.webp" alt="">
    </div>
    <div id="mobile1">
        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/651eb03467c855fc7bf78806/retail-dna-logo.png" alt="">
        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/651eb0b568fc4631c18be6ea/e-commerceplatforms_highperformer_highperformer.png" alt="">
        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/64f8324e033076a5c7d5a416/e-commerceplatforms_highperformer_india_highperformer_2023.png" alt="">
        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/64f83f4cdb28d06e273a4ced/image-1.png" alt="">
        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/64f8326c0c4b25a689528104/crozdesk-shopping-cart-software-leader-badge.png" alt="">
    </div>
 </div>
 <div id="footer">
    <p>© copyright 2020 <span>StoreHippo.com</span> . All Rights Reserved.</p>
 </div>
<%- include('partial/footer') %>
