<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/login.css">
</head>
<body>

    <div id="main">
    <h2>Login Here</h2>
    <form action="/login" method="post">
        <input type="text" placeholder="username" name="username"><br>
        <input type="password" placeholder="password" name="password"><br>
         <button>Login</button>
         <a href="/forget">forget password</a>
    </form>
    </div>
</body>
</html>