<%- include('partial/header') %>
<%- include('partial/nav') %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="stylesheets/more.css">
<div id="main">
<img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/ms.pages/5b878f3e10b9c57961b34500/5b878f9310b9c57961b345ac.png" alt="">
<div id="div">
    <h1>Go Global</h1>
    <p>Reach out to Global customers to sell more
        Powerful features and tools to expand your business
        to Global Markets</p>
          
            <a href="/signup"><button>TRY NOW<i class="fa-solid fa-chevron-right"></i></button></a>
            <a href="/schedule"><button>SCHEDULE A DEMO<i class="fa-solid fa-chevron-right"></i></button></a>
          
</div>
</div>
<!-- 2nd page -->
<div id="page">
    <p id="para">Overview</p>
    <p>Help Center</p>
</div>
<!-- paragraph -->
<div class="child2">
    <p>Power your business with tools that make it easy to gain International recognition. Sell more by expanding your<br> reach to Global Markets.</p>
    </div>
    <!-- third page -->
<div id="slider">

    
    <div class="child">
        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/ms.pages/5b878f3e10b9c57961b34500/5b87911910b9c57961b346e0-640x640.png" alt="">
    </div>
    <div class="child1">
        <h1>Multilingual</h1>
        <p>Translate your website in the preferred <span>language</span> of your target audience. Get support for static content and themes in RTL languages like Arabic, Hebrew etc. Improve your marketing with language-specific target pages for customers. Work easily with a multilingual admin.</p>
        <a href="/read"><button>Read More</button></a>
    </div>
</div>
<!-- page 4 -->

<div id="page1">
    <div id="child1">
  <h1>Multi-Currency</h1>
  <p>Branch out to new markets by offering the multiple currency payment options to your customers.Multiply your sales manifold by never missing an opportunity to convert using IP based currency option.</p>
  <a href="/reads"><button>Read More</button></a>
    </div>
    <div id="child2">
        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/ms.pages/5b878f3e10b9c57961b34500/5b87912110b9c57961b346ed-640x640.png" alt="">
    </div>
</div>
<!-- page 4 -->
<div id="page2">
<div id="part">
    <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/ms.pages/5b878f3e10b9c57961b34500/5b87912910b9c57961b346fd-640x640.png" alt="">
</div>
<div id="part3">
    <h1>
        Global Payment Gateways</h1>
        <p>Give your business the power to process orders from anywhere on the globe by setting up global payment gateways. Give your business an edge by integrating more than one international payment channel.</p>
        <a href="/Reads more"><button>Read More</button></a>
</div>
</div>
<div id="page3">
    <div id="left">
        <h1>Global CDN</h1>
        <p>Improve your site speed and retain more customers by offering round the clock availability of product and services. Easily manage traffic peaks and offer secure networks with close to 100% uptime.

        </p>
    </div>
    <div id="right">
        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/ms.pages/5b878f3e10b9c57961b34500/5b87913210b9c57961b3470d-640x640.png" alt="">
    </div>
</div>

<div id="page4">
    <div id="slide">
        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/60750e7de3b399ba9daa9b5d/headless-images-5--640x640.png" alt="">
    </div>
    <div id="slide1">
        <h1>Headless Commerce</h1>
        <p>Use headless commerce to offer personalised customer touchpoints and buying experiences with different  languages, currencies, landing pages etc. Offer seamless buying journey across devices using 300+ API endpoints and best integrations with best in class software.</p>
        <button>Read More</button>
    </div>
</div>
<!-- page5 -->
<div id="page5">
    <div id="hero">
        <h1>MACH Architecture</h1>
        <p>Grow your global business to your desired geolocations, channels, customers  etc. by creating extremely personalised buyer journeys powered by the flexibility and agility of MACH (Microservices, API-first, Cloud-Native, Headless) architecture for ecommerce. Transform your global business by building tailor-made solutions that engage and convert customers quickly.</p>
        <button>Read More</button>
    </div>
    <div id="hero1">
        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/61122345555b7434f7da5e8c/mach-16--640x640.png" alt="">
    </div>
</div>
<div id="menu">
<h1>StoreHippo Advantages</h1>
</div>
<div id="page6">
    
    <div id="more">
     <h1>Customer Targeting</h1>
     <p>Target international customers easily by offering pricing override feature that allows you to set specific pricing for a given geography. Save on taxes incurred due to currency conversions and improve your profit.</p>
    </div>
    <div id="more1">
        <h1>Low cost, High Performance</h1>
        <p>Reduce your hosting costs by eliminating the high cost hosting services. Improve your site performance by delivering reliable, secure and fast content. Save time with easy multiple international payment gateways setup.</p>
    </div>
</div>

<!-- footer -->
<div id="page11">
    <div id="talent">
        <a target="_blank" href="https://www.facebook.com/StoreHippo"><i class="fa-brands fa-facebook-f"></i></a>
         <a target="_blank" href="https://twitter.com/StoreHippo"><i class="fa-brands fa-twitter"></i></a>
         <a target="_blank"  href="https://www.youtube.com/channel/UCcDoHBL7DVQNl5ApYs8sq3w"><i class="fa-brands fa-square-youtube"></i></a>
         <a target="_blank" href="https://www.linkedin.com/company/hippoinnovations/"><i class="fa-brands fa-linkedin"></i></a>
         <a target="_blank" href="https://www.instagram.com/storehippo_/"><i class="fa-brands fa-instagram"></i></a>
         <a target="_blank"  href="https://in.pinterest.com/mystorehippo/"><i class="fa-brands fa-pinterest"></i></a>
    </div>
    <div id="talent1">
        <h1>Create your online store with <br>StoreHippo</h1>
        <input type="email" placeholder="Enter your Email" name="email">
        <a href="/">GET STARTED</a>
    </div>
   </div>

   <div id="page12">
    <div id="tag5">
        <h2>Information</h2>
        <p>About Us</p>
        <p>Careers</p>
        <p>Contact Us</p>
        <p>Media</p>
        <p>Privacy Policy</p>
        <p>Social Responsibility</p>
        <p>Merchant Agreement</p>
        <p>Partner Program</p>
        <p>PCI-DSS Certification</p>
        <p>ISO Certification</p>
    </div>
    <div id="tag5">
        <h2>Support</h2>
        <p>API Reference</p>
        <p>Experts</p>
        <p>Forums</p>
        <p>Help Center</p>
        <p>Support Home</p>
    </div>
    <div id="tag5">
        <h2>Explore</h2>
        <p>Blog</p>
        <p>Examples</p>
        <p>Industries</p>
        <p>Marketing</p>
        <p>Sitemap</p>
        <p>Solutions</p>
        <p>Technology</p>
        <p>Themes</p>
        <p>Topics</p>
        <p>Wiki</p>
        <p>Use Cases</p>
        <p>Stats</p>
    </div>
    <div id="tag5">
        <h2>Features</h2>
        <p>All Features</p>
        <p>B2B Ecommerce</p>
        <p>Integrations</p>
        <p>Logistics</p>
        <p>Mobile Commerce</p>
        <p>Multi Store Ecommerce</p>
        <p>Multi-vendor</p>
        <p>Multilingual</p>
        <p>Ecommerce</p>
        <p>Payment Gateways</p>
    </div>
    <div id="tag5">
        <h2>Comparison</h2>
        <p>StoreHippo Vs Others</p>
        <p>Storehippo Vs Shopify</p>
        <p>StoreHippo Vs Magento
        </p>
        <p>StoreHippo Vs SAP</p>
        <p>StoreHippo Vs</p>
        <p>WooCommerce</p>
        <p>StoreHippo Vs</p>
        <p>BigCommerce</p>
    </div>
   </div>
 <div id="page13">
    <div id="mobile">
        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/64f832050c4b25a6895275a4/pci_logo.webp" alt="">
        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/64f8321573deccfda3accb6c/iso1.webp" alt="">
    </div>
    <div id="mobile1">
        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/651eb03467c855fc7bf78806/retail-dna-logo.png" alt="">
        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/651eb0b568fc4631c18be6ea/e-commerceplatforms_highperformer_highperformer.png" alt="">
        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/64f8324e033076a5c7d5a416/e-commerceplatforms_highperformer_india_highperformer_2023.png" alt="">
        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/64f83f4cdb28d06e273a4ced/image-1.png" alt="">
        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/64f8326c0c4b25a689528104/crozdesk-shopping-cart-software-leader-badge.png" alt="">
    </div>
 </div>
 <div id="footer">
    <p>© copyright 2020 <span>StoreHippo.com</span> . All Rights Reserved.</p>
 </div>
<%- include('partial/footer') %>