<%- include('partial/header') %>
<link rel="stylesheet" href="stylesheets/moreone.css">
<%- include('partial/nav') %>
<div id="main">
<img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/ms.pages/5e97eddd54eaaa7589aec2f8/5e99a56089b5c27a814432fc.png" alt="">
 <div id="hero">
     <h1>Geolocation And Hyperlocal Ecommerce</h1>
     <p>Boost conversions with location-based ecommerce
        Offer customized services and quick delivery with
        location-based settings</p>
        <a href="/signup"><button>START FREE</button></a>
        <a href="/schedule"><button>SCHEDULE A DEMO</button></a>
 </div>
</div>
<div id="paragraph">
<h1>Become a local favourite with personalized offers based on geolocation tracking</h1>
</div>
<div id="page1">
    <div id="slide">
        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/5eba55989e22ac5565605050/location-based-stores-1-1--480x480.png" alt="">
    </div>
    <div id="slide1">
        <h2>Location-Based Stores</h2>
        <p>Create multiple sub-stores based on customer geolocation to cater to the unique needs of your targeted customers. Boost sales by offering bestsellers on your sub-stores based on local demand analysis.</p>
        <a href="#"><button>Read More</button></a>
    </div>
</div>
<div id="page2">
    <div id="slide2">
        <h1>IP-Detection Based Rules</h1>
        <p>Easily set up rules to implement themes, taxes, shipping charges, delivery timings etc. based on IP-detection of customer location. Manage hyperlocal ecommerce by implementing rules and charges that help your business grow.</p>
    </div>
    <div id="slide3">
        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/5eba55719e22ac5565604da8/ip-detection-based-rules-2--480x480.png" alt="">
    </div>
</div>

<div id="page3">
    <div id="left">
        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/ms.pages/5e97eddd54eaaa7589aec2f8/5e9999edc7d30e5d8b3969cb-480x480.png" alt="">
    </div>
    <div id="right">
        <h1>Multi-Vendor Support</h1>
        <p>Quickly set up an online marketplace with built-in multi-seller ecommerce solution adaptable to a variety of use cases. Onboard sellers/partners across the city to deliver to specific customer locations.</p>
    </div>
</div>

<div id="page4">
    <div id="hero1">
        <h1>Dealer/ Retailer Sub-Stores</h1>
        <p>Set up individual sub-stores for your dealers or retailers to maximize the benefits of hyperlocal ecommerce. Enable faster and direct delivery from the retailer to your customers by creating dealer specific sub-stores for selected locations.</p>
    </div>
    <div id="hero2">
        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/ms.pages/5e97eddd54eaaa7589aec2f8/5e999a0d1497d45d8a17373d-480x480.png" alt="">
    </div>
</div>

<div id="page5">
    <div id="nav-left">
        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/ms.pages/5e97eddd54eaaa7589aec2f8/5e999a3a1497d45d8a173c19-480x480.png" alt="">
    </div>
    <div id="nav-right">
        <h1>Automatic Order Routing</h1>
        <p>Make deliveries quicker and optimized by implementing automatic geolocation detection and order routing. For example, If Store A is 3 km and Store B is 5 km from the customer’s location routing the order to the nearest possible store will optimize delivery.</p>
    </div>
</div>

<div id="page6">
    <div id="part">
        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/5eb91da0d98c09fe1e9defde/accurate-location-capture1-1--480x480.png" alt="">
    </div>
    <div id="part1">
        <h1>Location Capture With Google Map</h1>
        <p>Make it easier for your customers and delivery boys to manage deliveries by adding Google map to your store and apps. Allow customers to pin their exact geolocation to ensure faster delivery and minimize the chances of customer grievances and returns.</p>
    </div>
</div>

<div id="page7">
    <div id="partial">
        <h1>Targeted Marketing</h1>
        <p>Run location-based offers, promotions, discounts and coupons for targeted customers of various locations. Plan a set of marketing strategies easily to get better marketing ROI from hyperlocal ecommerce.</p>
    </div>
    <div id="partial1">
        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/ms.pages/5e97eddd54eaaa7589aec2f8/5e999b02c7d30e5d8b3986bf-480x480.png" alt="">
    </div>
</div>

<div id="page8">
    <div id="part4">
        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/ms.pages/5e97eddd54eaaa7589aec2f8/5e999b20c7d30e5d8b398900-480x480.png" alt="">
    </div>
    <div id="part3">
        <h1>Multilingual Stores</h1>
        <p>Connect better with your domestic and international customers in their native language by creating a multilingual store or language-specific sub-stores. For example; you can target a posh residential society having families from different states in India or from multiple countries.</p>
    </div>
</div>

<div id="page9">
    <div id="overlay1">
        <h1>Multiple Payment Options</h1>
        <p>Give your customers multiple payment choices along with COD and wallet support for easy and quick payments. Set up payment options based on the geolocation or device used by your customers.</p>
    </div>
    
    <div id="tag1">
    <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/5eb91e9765d399025437871a/multiple-payment-options-1--480x480.png" alt="">
        
    </div>
</div>
<div id="page10">
    <div id="prime">
        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/ms.pages/5e97eddd54eaaa7589aec2f8/5e999baf13060e5d214217a7-480x480.png" alt="">
    </div>
    <div id="prime1">
        <h1>Unified Notifications</h1>
        <p>Keep your customers and delivery agents informed at every step of the order and delivery process through notifications. Use Email, SMS and push notifications to</p>

    </div>
</div>
<!-- footer -->
<div id="page11">
    <div id="talent">
        <a target="_blank" href="https://www.facebook.com/StoreHippo"><i class="fa-brands fa-facebook-f"></i></a>
         <a target="_blank" href="https://twitter.com/StoreHippo"><i class="fa-brands fa-twitter"></i></a>
         <a target="_blank"  href="https://www.youtube.com/channel/UCcDoHBL7DVQNl5ApYs8sq3w"><i class="fa-brands fa-square-youtube"></i></a>
         <a target="_blank" href="https://www.linkedin.com/company/hippoinnovations/"><i class="fa-brands fa-linkedin"></i></a>
         <a target="_blank" href="https://www.instagram.com/storehippo_/"><i class="fa-brands fa-instagram"></i></a>
         <a target="_blank"  href="https://in.pinterest.com/mystorehippo/"><i class="fa-brands fa-pinterest"></i></a>
    </div>
    <div id="talent1">
        <h1>Create your online store with <br>StoreHippo</h1>
        <input type="email" placeholder="Enter your Email" name="email">
        <a href="/">GET STARTED</a>
    </div>
   </div>

   <div id="page12">
    <div id="tag5">
        <h2>Information</h2>
        <p>About Us</p>
        <p>Careers</p>
        <p>Contact Us</p>
        <p>Media</p>
        <p>Privacy Policy</p>
        <p>Social Responsibility</p>
        <p>Merchant Agreement</p>
        <p>Partner Program</p>
        <p>PCI-DSS Certification</p>
        <p>ISO Certification</p>
    </div>
    <div id="tag5">
        <h2>Support</h2>
        <p>API Reference</p>
        <p>Experts</p>
        <p>Forums</p>
        <p>Help Center</p>
        <p>Support Home</p>
    </div>
    <div id="tag5">
        <h2>Explore</h2>
        <p>Blog</p>
        <p>Examples</p>
        <p>Industries</p>
        <p>Marketing</p>
        <p>Sitemap</p>
        <p>Solutions</p>
        <p>Technology</p>
        <p>Themes</p>
        <p>Topics</p>
        <p>Wiki</p>
        <p>Use Cases</p>
        <p>Stats</p>
    </div>
    <div id="tag5">
        <h2>Features</h2>
        <p>All Features</p>
        <p>B2B Ecommerce</p>
        <p>Integrations</p>
        <p>Logistics</p>
        <p>Mobile Commerce</p>
        <p>Multi Store Ecommerce</p>
        <p>Multi-vendor</p>
        <p>Multilingual</p>
        <p>Ecommerce</p>
        <p>Payment Gateways</p>
    </div>
    <div id="tag5">
        <h2>Comparison</h2>
        <p>StoreHippo Vs Others</p>
        <p>Storehippo Vs Shopify</p>
        <p>StoreHippo Vs Magento
        </p>
        <p>StoreHippo Vs SAP</p>
        <p>StoreHippo Vs</p>
        <p>WooCommerce</p>
        <p>StoreHippo Vs</p>
        <p>BigCommerce</p>
    </div>
   </div>
 <div id="page13">
    <div id="mobile">
        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/64f832050c4b25a6895275a4/pci_logo.webp" alt="">
        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/64f8321573deccfda3accb6c/iso1.webp" alt="">
    </div>
    <div id="mobile1">
        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/651eb03467c855fc7bf78806/retail-dna-logo.png" alt="">
        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/651eb0b568fc4631c18be6ea/e-commerceplatforms_highperformer_highperformer.png" alt="">
        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/64f8324e033076a5c7d5a416/e-commerceplatforms_highperformer_india_highperformer_2023.png" alt="">
        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/64f83f4cdb28d06e273a4ced/image-1.png" alt="">
        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/64f8326c0c4b25a689528104/crozdesk-shopping-cart-software-leader-badge.png" alt="">
    </div>
 </div>
 <div id="footer">
    <p>© copyright 2020 <span>StoreHippo.com</span> . All Rights Reserved.</p>
 </div>
<script src="javascripts/script.js"></script>
<%- include('partial/footer') %>