
<%- include('partial/header') %>
<link rel="stylesheet" href="stylesheets/style.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
<%- include('partial/nav') %>
<div id="main">
<!-- navbar -->
<div id="elem">
    <h1>Leading Enterprise Ecommerce platform in India</h1>
    <h3>Build whitelabelled</h3>
    <p>Designed for diverse B2B and B2C business models</p><br>
    <a href="/schedule"><button>SCHEDULE A DEMO</button></a>
     
</div>

<!-- navbar -->
<!-- <div id="main"> -->
<div id="left">
<h1>Leading Enterprise Ecommerce Platform in India</h1>
<h3> whitelabelled  Horizontal Marketplaces|<br>
    Designed for diverse B2B and B2C business models
    </h3>
    <a href="/schedule">SCHEDULE A DEMO</a>
    
</div>
<div id="right">
<img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/ms.files/new-home/sliders-bg.png" alt="">
<img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/652fef052a6b57b0c18d6728/slide-image1.png" alt="" id="image">
</div>
</div>
<div id="page17">
  <div id="elem1">
    <h1> Empowering Brands Across the Globe</h1>
    <h3>StoreHippo ecommerce platform builds extraordinary solutions to power brands across 15 countries and 30+ industries. Add your brand to the long list of brands that trust StoreHippo.</h3>
  </div>
   <div id="elem4">
    <a href="/img"> <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/651e540b3825200ec3e98d4c/logo_1-280x280.png" alt=""></a>
    <a href="/img1"> <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/651e550535f17f0f1634a49c/logo_4-280x280.png" alt=""></a>
    <a href="/img2">  <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/651e541f32ee360f4ca90519/logo_2-280x280.png" alt=""></a>
    <a href="/img3"> <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/652fdc4002b0a2ff20ae7608/logo_7-1-280x280.png" alt=""></a>
    <a href="/img4"> <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/652fdc25d9f89ffcf89e9af7/halonix-280x280.png" alt=""> </a>
    <a href="/img5"><img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/651e5431b0863239a92b8315/logo_3-280x280.png" alt="" ></a>
    <a href="/img6"><img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/651e553491816d9dd9286f0f/logo_6-280x280.png" alt="" ></a>
    </div>
  </div>
    <div id="page1">
 <div id="slide">
    <div id="slide-left">
        <div id="img-tag">
       <a href="#"><img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/651e540b3825200ec3e98d4c/logo_1-280x280.png" alt="" id="uniter"></a><br>
        <a href="#"> <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/651e550535f17f0f1634a49c/logo_4-280x280.png" alt="" id="uniter2"></a>
    </div>
    <div id="img-tag2">
       <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/651e541f32ee360f4ca90519/logo_2-280x280.png" alt=""><br>
        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/652fdc4002b0a2ff20ae7608/logo_7-1-280x280.png" alt=""><br>
        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/652fdc25d9f89ffcf89e9af7/halonix-280x280.png" alt="">
    </div>
    <div id="img-tag3">
        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/651e5431b0863239a92b8315/logo_3-280x280.png" alt=""><br>
        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/651e553491816d9dd9286f0f/logo_6-280x280.png" alt="">
    </div>
    </div>
    <div id="slide-right">
        <h1> Empowering Brands <br>Across the Globe</h1>
        <h3>StoreHippo ecommerce platform builds <br>extraordinary solutions to power brands across 15 <br>countries and 30+ industries. Add your brand to<br> the long list of brands that trust StoreHippo.</h3>
    </div>
 </div>
</div>
<!-- part3 -->
<div id="part3">
    <h1>Tailor-made enterprise solutions for your brand</h1>
    <h4>Powering Disruptive brands across 40+ industries</h4>

</div>

<div id="page2">
    
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div id="main-left">
                <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/652fe444c0ce2dfd5b81ee3f/new-project-7-.png" alt=""><br>
                <h1>Enabling india's most loved FMGC brand to match<br>pace with the changing buying habits of a dynamic nation</h1>
                  <div id="main-bar">
                <div class="menu">
                    <h3>Location-based multi Store</h3>
                    <p>Unique offerings for multiple<br>location-based sub stores</p>
                </div>
                <div class="menu">
                    <h3>Customizations</h3>
                    <p>tailer made enterprise <br>customizations for unique brand<br> requirements</p>
                </div>
                </div>
                <div id="main-bar2">
                    <div class="menu">
                        <h3>Unparalleled speed</h3>
                        <p>creating immersive buyer<br>journeys with speed that fast<br> tracks growth</p>
                    </div>
                    <div class="menu">
                        <h3>physical presense</h3>
                        <p>Enabling to create a multi-channel() <br>customizations for unique brand<br> requirements</p>
                    </div>
                </div>
            </div>
            <div id="main-right">
                <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/6530e651c0ce2dfd5b959cd2/amul-case-study.png" alt="">
            </div>

            
          </div>
          
          <!-- new -->
          <div class="swiper-slide">
            <div id="main-left">
                <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/652fe85f6b559fb0ec2a7edb/momeaze.png" alt="">
                <h1>Cutting-edge ecommerce solutions creating a niche<br>marketplace website for  mom and  baby products</h1>
                  <div id="main-bar">
                <div class="menu">
                    <h3>multi vendor marketplace</h3>
                    <p>Managing and connecting offline <br>and online vendors seamlessely<br>from a centralized admin</p>
                </div>
                <div class="menu">
                    <h3>Multi-Channel presence</h3>
                    <p>Next-gen solutions to manage the<br>phygital(physical+digital)brand<br>presence from a single dashboard</p>
                </div>
                </div>
                <div id="main-bar2">
                    <div class="menu">
                        <h3>Tailored solutions</h3>
                        <p>Extensive customizations to build a<br>tailored ecommerce solutions for<br>the brand</p>
                    </div>
                    <div class="menu">
                        <h3>Fully integrated solutons</h3>
                        <p>seamless integrations with the <br>preffered software</p>
                    </div>
                </div>
            </div>
            <div id="main-right">
                <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/6530e63e7865f6306a417b93/cloudnine.png" alt="">
            </div>

            
          </div>
          <!-- new -->
          <div class="swiper-slide">
            <div id="main-left">

                <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/653137a46f22cecaff95a321/berger.jpg" alt="">
                <h1>Unifying offline and online presence of a brand with<br>100% offline stores across 22 cities</h1>
                  <div id="main-bar">
                <div class="menu">
                    <h3>Inregrated supply Chain</h3>
                    <p>Fully integrated solutions that  <br>connects Storefronts with  POS,ERP<br>and existing supply  chain</p>
                </div>
                <div class="menu">
                    <h3>Multilingual Storefronts</h3>
                    <p>RTL Arabic themes and localized<br>content while still delivery super<br>fast response  times</p>
                </div>
                </div>
                <div id="main-bar2">
                    <div class="menu">
                        <h3>Extensive customizations</h3>
                        <p>Tailor made business solutions to<br>meet the  brand guildelines</p>
                    </div>
                    <div class="menu">
                        <h3>Multi Store Brand portals</h3>
                        <p>Allows Managing different brand<br>Storefronts with a unified<br>dashboard and shared inventory</p>
                    </div>
                </div>
            </div>
            <div id="main-right">
                <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/62d1557d68724bd8278a4119/berger.png" alt="">
            </div>

            
          </div>

          <!-- new -->
          <div class="swiper-slide">
            <div id="main-left">
                <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/652feaf3c0ce2dfd5b82e0b9/whites.png" alt="">
                <h1>Unifying offline and  presence of a brand with <br>100+ offline stores across presence</h1>
                  <div id="main-bar">
                <div class="menu">
                    <h3>Inregrated supply Chain</h3>
                    <p>Fully integrated solutions that  <br>connects Storefronts with  POS,ERP<br>and existing supply  chain</p>
                </div>
                <div class="menu">
                    <h3>Multilingual Storefronts</h3>
                    <p>RTL Arabic themes and localized<br>content while still delivery super<br>fast response  times</p>
                </div>
                </div>
                <div id="main-bar2">
                    <div class="menu">
                        <h3>Extensive customizations</h3>
                        <p>Tailor made business solutions to<br>meet the  brand guildelines</p>
                    </div>
                    <div class="menu">
                        <h3>Multi Store Brand portals</h3>
                        <p>Allows Managing different brand<br>Storefronts with a unified<br>dashboard and shared inventory</p>
                    </div>
                </div>
            </div>
            <div id="main-right">
                <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/6530e628746f723890eb6d10/case-study-whites.png" alt="">
            </div>

            
          </div>

          <!-- new -->
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <!-- header -->

    <div id="memory">

        
     <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/652fe444c0ce2dfd5b81ee3f/new-project-7-.png" alt="" id="img-tag">
            <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/6530e651c0ce2dfd5b959cd2/amul-case-study.png" alt="" id="tag-img">
            <p>Enabling India's most loved FMGC brand to match pace with the changing buying habits of a dynamic nation</p>
          </div>
            <!-- new -->
            <div class="swiper-slide">
                <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/652fe85f6b559fb0ec2a7edb/momeaze.png" alt="" id="img-tag">
                <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/6530e63e7865f6306a417b93/cloudnine.png" alt="" id="tag-img">
                <p>Cutting -edge ecommerce solutions creating a niche marketplace website for mom and baby products</p>
              </div>
              <!-- new -->
              <div class="swiper-slide">
                <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/653137a46f22cecaff95a321/berger.jpg" alt="" id="img-tag">
                <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/62d1557d68724bd8278a4119/berger.png" alt="" id="tag-img">
                <p>Tailoring the online journey of a multinational paint brand with a century of  offline presense</p>
              </div>
              <!-- new -->
              <div class="swiper-slide">
                <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/652feaf3c0ce2dfd5b82e0b9/whites.png" alt="" id="img-tag">
                <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/6530e628746f723890eb6d10/case-study-whites.png" alt="" id="tag-img">
                <p>Unifying offline and online presence of a  brand with 100+ offline stores across 22 cities</p>
              </div>
          
        </div>
        <div class="swiper-pagination"></div>
      </div>
    
     

            
            
            
       
     
     <!-- swiper -->
    </div>
     

     
       
   <!-- header -->
    <div id="page4">
     <h1>What can you build with StoreHippo® ?</h1>
     <p>Experience a full-featured development platform with beyond E-commerce capabilities. Get inspired by thousands of use cases.

     </p>
     <a href="/demo">Schedule a demo</a>
    </div>

    <!-- responive part -->
    <div id="nav-part2">
       

        
        
         
         
    </div>
    <!-- responive part -->
       
    <div id="page5">
       
        <div id="slider-container3">
            <div id="slider3">
                <div class="slide3">
                    <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/home_testimonial/594121e954bd62b636297dce/5b9117ea2b135bee0fddcda3-130x130.png" alt="">
                    <h3>Multi-seller Marketplaces</h3>
                    <p>Comprehensive multi-seller marketplace for B2B<br>and B2C e-commerce business simplifi<br>featured-rich dashboard to manage and<br> automate your marketplace</p>
                    <a href="#">Read More<i class="ri-arrow-right-up-line"></i></a>
                </div>
                <!-- new -->
                <div class="slide3">
                    <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/home_testimonial/5941221054bd62b636298096/5b91181c3a5e4bedab72ecd1-130x130.png" alt="">
                    <h3>Multi Store  Portals</h3>
                    <p>Reach targeted audience with  multiple<br>and B2C e-commerce business simplifi<br>storefronts of your store Manage custom deals<br> invevtory and shipping from a common<br>dashboard</p>
                    <a href="#">Read More<i class="ri-arrow-right-up-line"></i></a>
                </div>
                <!-- new -->
                <div class="slide3">
                    <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/62d0f6bdc3f028b90b5d7a11/b2c-icon-svg-130x130.png" alt="">
                    <h3>B2B Services</h3>
                    <p>set up your custom B2B portal to sell products or<br>services improve effiencies and reduce cost<br>with-cutting-edge B2B e-commerce features </p>
                    <a href="#">Read More<i class="ri-arrow-right-up-line"></i></a>
                </div>
                <!-- new -->
                <div class="slide3">
                    <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/62d0fc55ea8d22abc731768e/b2b2c-svg-1--130x130.png" alt="">
                    <h3>D2C</h3>
                    <p>Get  complete control over your brand by pivoting<br>to the direct -to- customer model Build tailor-<br>made D2C solutions designed for your enterprise<br>brand </p>
                    <a href="#">Read More<i class="ri-arrow-right-up-line"></i></a>
                </div>
                <!-- new -->
                <div class="slide3">
                    <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/62d0fbffc449b7e133ba50f9/d2c-icon-svg-130x130.png" alt="">
                    <h3>B2B2C Ecommerce</h3>
                    <p>Build disruptive hybrid enterprise ecommerce<br>solutions for unparalleled growth by combining<br>with-cutting- e-commerce features </p>
                    <a href="#">Read More<i class="ri-arrow-right-up-line"></i></a>
                </div>
                <!-- new -->
                <div class="slide3">
                    <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/62d0fcacea8d22abc7317c8e/omnichannel-svg-130x130.png" alt="">
                    <h3>Omnichannel Commerce</h3>
                    <p>Give your customers the  freedom to  byu on  all<br>their preffered channels.Build seamless buyer<br>journeys across channels with central control </p>
                    <a href="#">Read More<i class="ri-arrow-right-up-line"></i></a>
                </div>
                <!-- new -->
                <div class="slide3">
                    <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/62d0fcd9ea8d22abc7318018/headless-svg-130x130.png" alt="">
                    <h3>Headless Commerce</h3>
                    <p>Make innovative distruption a reality  with  headless<br>commerce Build personalized experiences<br>journeys across channels with central control </p>
                    <a href="#">Read More<i class="ri-arrow-right-up-line"></i></a>
                </div>
                <!-- new -->
            </div>
            <button id="prevBtn" onclick="prevSlide()">❮</button>
            <button id="nextBtn" onclick="nextSlide()">❯</button>
        </div>
        
        
        </div>
   
          <div id="main2">
            <h1>Go Global</h1>
            <p>Target both local and international markets with one single ecommerce platform</p>
           
          </div>
        <div id="page6">

            
            <div class="child">
               <div id="box" class="hag">
                <div id="main-tag1">
                <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/64f05327753517f8a0cb3114/image-6-280x280.png" alt="">
                <h1>GLOBAL Commerce</h1>
                </div>
                <div id="main3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                        <g clip-path="url(#clip0_58_1708)">
                        <path d="M5.5 2.30762C4.57174 2.30762 3.6815 2.67637 3.02513 3.33274C2.36875 3.98912 2 4.87936 2 5.80762V10.8076C2 11.7359 2.36875 12.6261 3.02513 13.2825C3.6815 13.9389 4.57174 14.3076 5.5 14.3076H10.5C11.4283 14.3076 12.3185 13.9389 12.9749 13.2825C13.6313 12.6261 14 11.7359 14 10.8076V8.30762C14 8.17501 14.0527 8.04783 14.1464 7.95406C14.2402 7.8603 14.3674 7.80762 14.5 7.80762C14.6326 7.80762 14.7598 7.8603 14.8536 7.95406C14.9473 8.04783 15 8.17501 15 8.30762V10.8076C15 12.0011 14.5259 13.1457 13.682 13.9896C12.8381 14.8335 11.6935 15.3076 10.5 15.3076H5.5C4.30653 15.3076 3.16193 14.8335 2.31802 13.9896C1.47411 13.1457 1 12.0011 1 10.8076V5.80762C1 4.61414 1.47411 3.46955 2.31802 2.62564C3.16193 1.78172 4.30653 1.30762 5.5 1.30762H8C8.13261 1.30762 8.25979 1.3603 8.35355 1.45406C8.44732 1.54783 8.5 1.67501 8.5 1.80762C8.5 1.94023 8.44732 2.0674 8.35355 2.16117C8.25979 2.25494 8.13261 2.30762 8 2.30762H5.5Z" fill="#7DB434"/>
                        <path d="M16 3.30762C16 4.10327 15.6839 4.86633 15.1213 5.42894C14.5587 5.99155 13.7956 6.30762 13 6.30762C12.2044 6.30762 11.4413 5.99155 10.8787 5.42894C10.3161 4.86633 10 4.10327 10 3.30762C10 2.51197 10.3161 1.74891 10.8787 1.1863C11.4413 0.623688 12.2044 0.307617 13 0.307617C13.7956 0.307617 14.5587 0.623688 15.1213 1.1863C15.6839 1.74891 16 2.51197 16 3.30762Z" fill="#7DB434"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_58_1708">
                        <rect width="16" height="16" fill="white" transform="translate(0 0.307617)"/>
                        </clipPath>
                        </defs>
                        </svg>
                        <p>300+ Enterprise-grade features</p>
                </div>
                <!-- new -->
                <div id="main3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                        <g clip-path="url(#clip0_58_1708)">
                        <path d="M5.5 2.30762C4.57174 2.30762 3.6815 2.67637 3.02513 3.33274C2.36875 3.98912 2 4.87936 2 5.80762V10.8076C2 11.7359 2.36875 12.6261 3.02513 13.2825C3.6815 13.9389 4.57174 14.3076 5.5 14.3076H10.5C11.4283 14.3076 12.3185 13.9389 12.9749 13.2825C13.6313 12.6261 14 11.7359 14 10.8076V8.30762C14 8.17501 14.0527 8.04783 14.1464 7.95406C14.2402 7.8603 14.3674 7.80762 14.5 7.80762C14.6326 7.80762 14.7598 7.8603 14.8536 7.95406C14.9473 8.04783 15 8.17501 15 8.30762V10.8076C15 12.0011 14.5259 13.1457 13.682 13.9896C12.8381 14.8335 11.6935 15.3076 10.5 15.3076H5.5C4.30653 15.3076 3.16193 14.8335 2.31802 13.9896C1.47411 13.1457 1 12.0011 1 10.8076V5.80762C1 4.61414 1.47411 3.46955 2.31802 2.62564C3.16193 1.78172 4.30653 1.30762 5.5 1.30762H8C8.13261 1.30762 8.25979 1.3603 8.35355 1.45406C8.44732 1.54783 8.5 1.67501 8.5 1.80762C8.5 1.94023 8.44732 2.0674 8.35355 2.16117C8.25979 2.25494 8.13261 2.30762 8 2.30762H5.5Z" fill="#7DB434"/>
                        <path d="M16 3.30762C16 4.10327 15.6839 4.86633 15.1213 5.42894C14.5587 5.99155 13.7956 6.30762 13 6.30762C12.2044 6.30762 11.4413 5.99155 10.8787 5.42894C10.3161 4.86633 10 4.10327 10 3.30762C10 2.51197 10.3161 1.74891 10.8787 1.1863C11.4413 0.623688 12.2044 0.307617 13 0.307617C13.7956 0.307617 14.5587 0.623688 15.1213 1.1863C15.6839 1.74891 16 2.51197 16 3.30762Z" fill="#7DB434"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_58_1708">
                        <rect width="16" height="16" fill="white" transform="translate(0 0.307617)"/>
                        </clipPath>
                        </defs>
                        </svg>
                        <p>Multi Currency payments and invoicing</p>
                </div>
                <!-- new -->
                <div id="main3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                        <g clip-path="url(#clip0_58_1708)">
                        <path d="M5.5 2.30762C4.57174 2.30762 3.6815 2.67637 3.02513 3.33274C2.36875 3.98912 2 4.87936 2 5.80762V10.8076C2 11.7359 2.36875 12.6261 3.02513 13.2825C3.6815 13.9389 4.57174 14.3076 5.5 14.3076H10.5C11.4283 14.3076 12.3185 13.9389 12.9749 13.2825C13.6313 12.6261 14 11.7359 14 10.8076V8.30762C14 8.17501 14.0527 8.04783 14.1464 7.95406C14.2402 7.8603 14.3674 7.80762 14.5 7.80762C14.6326 7.80762 14.7598 7.8603 14.8536 7.95406C14.9473 8.04783 15 8.17501 15 8.30762V10.8076C15 12.0011 14.5259 13.1457 13.682 13.9896C12.8381 14.8335 11.6935 15.3076 10.5 15.3076H5.5C4.30653 15.3076 3.16193 14.8335 2.31802 13.9896C1.47411 13.1457 1 12.0011 1 10.8076V5.80762C1 4.61414 1.47411 3.46955 2.31802 2.62564C3.16193 1.78172 4.30653 1.30762 5.5 1.30762H8C8.13261 1.30762 8.25979 1.3603 8.35355 1.45406C8.44732 1.54783 8.5 1.67501 8.5 1.80762C8.5 1.94023 8.44732 2.0674 8.35355 2.16117C8.25979 2.25494 8.13261 2.30762 8 2.30762H5.5Z" fill="#7DB434"/>
                        <path d="M16 3.30762C16 4.10327 15.6839 4.86633 15.1213 5.42894C14.5587 5.99155 13.7956 6.30762 13 6.30762C12.2044 6.30762 11.4413 5.99155 10.8787 5.42894C10.3161 4.86633 10 4.10327 10 3.30762C10 2.51197 10.3161 1.74891 10.8787 1.1863C11.4413 0.623688 12.2044 0.307617 13 0.307617C13.7956 0.307617 14.5587 0.623688 15.1213 1.1863C15.6839 1.74891 16 2.51197 16 3.30762Z" fill="#7DB434"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_58_1708">
                        <rect width="16" height="16" fill="white" transform="translate(0 0.307617)"/>
                        </clipPath>
                        </defs>
                        </svg>
                        <p>Multilingual ecommerce solutions</p>
                </div>
                <!-- new -->
                <div id="main3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                        <g clip-path="url(#clip0_58_1708)">
                        <path d="M5.5 2.30762C4.57174 2.30762 3.6815 2.67637 3.02513 3.33274C2.36875 3.98912 2 4.87936 2 5.80762V10.8076C2 11.7359 2.36875 12.6261 3.02513 13.2825C3.6815 13.9389 4.57174 14.3076 5.5 14.3076H10.5C11.4283 14.3076 12.3185 13.9389 12.9749 13.2825C13.6313 12.6261 14 11.7359 14 10.8076V8.30762C14 8.17501 14.0527 8.04783 14.1464 7.95406C14.2402 7.8603 14.3674 7.80762 14.5 7.80762C14.6326 7.80762 14.7598 7.8603 14.8536 7.95406C14.9473 8.04783 15 8.17501 15 8.30762V10.8076C15 12.0011 14.5259 13.1457 13.682 13.9896C12.8381 14.8335 11.6935 15.3076 10.5 15.3076H5.5C4.30653 15.3076 3.16193 14.8335 2.31802 13.9896C1.47411 13.1457 1 12.0011 1 10.8076V5.80762C1 4.61414 1.47411 3.46955 2.31802 2.62564C3.16193 1.78172 4.30653 1.30762 5.5 1.30762H8C8.13261 1.30762 8.25979 1.3603 8.35355 1.45406C8.44732 1.54783 8.5 1.67501 8.5 1.80762C8.5 1.94023 8.44732 2.0674 8.35355 2.16117C8.25979 2.25494 8.13261 2.30762 8 2.30762H5.5Z" fill="#7DB434"/>
                        <path d="M16 3.30762C16 4.10327 15.6839 4.86633 15.1213 5.42894C14.5587 5.99155 13.7956 6.30762 13 6.30762C12.2044 6.30762 11.4413 5.99155 10.8787 5.42894C10.3161 4.86633 10 4.10327 10 3.30762C10 2.51197 10.3161 1.74891 10.8787 1.1863C11.4413 0.623688 12.2044 0.307617 13 0.307617C13.7956 0.307617 14.5587 0.623688 15.1213 1.1863C15.6839 1.74891 16 2.51197 16 3.30762Z" fill="#7DB434"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_58_1708">
                        <rect width="16" height="16" fill="white" transform="translate(0 0.307617)"/>
                        </clipPath>
                        </defs>
                        </svg>
                        <p>Build brand or country specific stores</p>
                
                <a href="/more">EXPLORE MORE</a>
                </div>
               </div>
            </div>
            <div class="child1">
                <div id="box">
                    <div id="main-tag1">
                        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/64f056586ba5b1682223ee06/image-6-1--280x280.png" alt="">
                    <h1>HYPERLOCAL E-commerce</h1>
                    </div>
                    <div id="main3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                            <g clip-path="url(#clip0_58_1708)">
                            <path d="M5.5 2.30762C4.57174 2.30762 3.6815 2.67637 3.02513 3.33274C2.36875 3.98912 2 4.87936 2 5.80762V10.8076C2 11.7359 2.36875 12.6261 3.02513 13.2825C3.6815 13.9389 4.57174 14.3076 5.5 14.3076H10.5C11.4283 14.3076 12.3185 13.9389 12.9749 13.2825C13.6313 12.6261 14 11.7359 14 10.8076V8.30762C14 8.17501 14.0527 8.04783 14.1464 7.95406C14.2402 7.8603 14.3674 7.80762 14.5 7.80762C14.6326 7.80762 14.7598 7.8603 14.8536 7.95406C14.9473 8.04783 15 8.17501 15 8.30762V10.8076C15 12.0011 14.5259 13.1457 13.682 13.9896C12.8381 14.8335 11.6935 15.3076 10.5 15.3076H5.5C4.30653 15.3076 3.16193 14.8335 2.31802 13.9896C1.47411 13.1457 1 12.0011 1 10.8076V5.80762C1 4.61414 1.47411 3.46955 2.31802 2.62564C3.16193 1.78172 4.30653 1.30762 5.5 1.30762H8C8.13261 1.30762 8.25979 1.3603 8.35355 1.45406C8.44732 1.54783 8.5 1.67501 8.5 1.80762C8.5 1.94023 8.44732 2.0674 8.35355 2.16117C8.25979 2.25494 8.13261 2.30762 8 2.30762H5.5Z" fill="#7DB434"/>
                            <path d="M16 3.30762C16 4.10327 15.6839 4.86633 15.1213 5.42894C14.5587 5.99155 13.7956 6.30762 13 6.30762C12.2044 6.30762 11.4413 5.99155 10.8787 5.42894C10.3161 4.86633 10 4.10327 10 3.30762C10 2.51197 10.3161 1.74891 10.8787 1.1863C11.4413 0.623688 12.2044 0.307617 13 0.307617C13.7956 0.307617 14.5587 0.623688 15.1213 1.1863C15.6839 1.74891 16 2.51197 16 3.30762Z" fill="#7DB434"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_58_1708">
                            <rect width="16" height="16" fill="white" transform="translate(0 0.307617)"/>
                            </clipPath>
                            </defs>
                            </svg>
                            <p>300+ Enterprise-grade features</p>
                    </div>
                    <!-- new -->
                    <div id="main3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                            <g clip-path="url(#clip0_58_1708)">
                            <path d="M5.5 2.30762C4.57174 2.30762 3.6815 2.67637 3.02513 3.33274C2.36875 3.98912 2 4.87936 2 5.80762V10.8076C2 11.7359 2.36875 12.6261 3.02513 13.2825C3.6815 13.9389 4.57174 14.3076 5.5 14.3076H10.5C11.4283 14.3076 12.3185 13.9389 12.9749 13.2825C13.6313 12.6261 14 11.7359 14 10.8076V8.30762C14 8.17501 14.0527 8.04783 14.1464 7.95406C14.2402 7.8603 14.3674 7.80762 14.5 7.80762C14.6326 7.80762 14.7598 7.8603 14.8536 7.95406C14.9473 8.04783 15 8.17501 15 8.30762V10.8076C15 12.0011 14.5259 13.1457 13.682 13.9896C12.8381 14.8335 11.6935 15.3076 10.5 15.3076H5.5C4.30653 15.3076 3.16193 14.8335 2.31802 13.9896C1.47411 13.1457 1 12.0011 1 10.8076V5.80762C1 4.61414 1.47411 3.46955 2.31802 2.62564C3.16193 1.78172 4.30653 1.30762 5.5 1.30762H8C8.13261 1.30762 8.25979 1.3603 8.35355 1.45406C8.44732 1.54783 8.5 1.67501 8.5 1.80762C8.5 1.94023 8.44732 2.0674 8.35355 2.16117C8.25979 2.25494 8.13261 2.30762 8 2.30762H5.5Z" fill="#7DB434"/>
                            <path d="M16 3.30762C16 4.10327 15.6839 4.86633 15.1213 5.42894C14.5587 5.99155 13.7956 6.30762 13 6.30762C12.2044 6.30762 11.4413 5.99155 10.8787 5.42894C10.3161 4.86633 10 4.10327 10 3.30762C10 2.51197 10.3161 1.74891 10.8787 1.1863C11.4413 0.623688 12.2044 0.307617 13 0.307617C13.7956 0.307617 14.5587 0.623688 15.1213 1.1863C15.6839 1.74891 16 2.51197 16 3.30762Z" fill="#7DB434"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_58_1708">
                            <rect width="16" height="16" fill="white" transform="translate(0 0.307617)"/>
                            </clipPath>
                            </defs>
                            </svg>
                            <p>Multi Currency payments and invoicing</p>
                    </div>
                    <!-- new -->
                    <div id="main3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                            <g clip-path="url(#clip0_58_1708)">
                            <path d="M5.5 2.30762C4.57174 2.30762 3.6815 2.67637 3.02513 3.33274C2.36875 3.98912 2 4.87936 2 5.80762V10.8076C2 11.7359 2.36875 12.6261 3.02513 13.2825C3.6815 13.9389 4.57174 14.3076 5.5 14.3076H10.5C11.4283 14.3076 12.3185 13.9389 12.9749 13.2825C13.6313 12.6261 14 11.7359 14 10.8076V8.30762C14 8.17501 14.0527 8.04783 14.1464 7.95406C14.2402 7.8603 14.3674 7.80762 14.5 7.80762C14.6326 7.80762 14.7598 7.8603 14.8536 7.95406C14.9473 8.04783 15 8.17501 15 8.30762V10.8076C15 12.0011 14.5259 13.1457 13.682 13.9896C12.8381 14.8335 11.6935 15.3076 10.5 15.3076H5.5C4.30653 15.3076 3.16193 14.8335 2.31802 13.9896C1.47411 13.1457 1 12.0011 1 10.8076V5.80762C1 4.61414 1.47411 3.46955 2.31802 2.62564C3.16193 1.78172 4.30653 1.30762 5.5 1.30762H8C8.13261 1.30762 8.25979 1.3603 8.35355 1.45406C8.44732 1.54783 8.5 1.67501 8.5 1.80762C8.5 1.94023 8.44732 2.0674 8.35355 2.16117C8.25979 2.25494 8.13261 2.30762 8 2.30762H5.5Z" fill="#7DB434"/>
                            <path d="M16 3.30762C16 4.10327 15.6839 4.86633 15.1213 5.42894C14.5587 5.99155 13.7956 6.30762 13 6.30762C12.2044 6.30762 11.4413 5.99155 10.8787 5.42894C10.3161 4.86633 10 4.10327 10 3.30762C10 2.51197 10.3161 1.74891 10.8787 1.1863C11.4413 0.623688 12.2044 0.307617 13 0.307617C13.7956 0.307617 14.5587 0.623688 15.1213 1.1863C15.6839 1.74891 16 2.51197 16 3.30762Z" fill="#7DB434"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_58_1708">
                            <rect width="16" height="16" fill="white" transform="translate(0 0.307617)"/>
                            </clipPath>
                            </defs>
                            </svg>
                            <p>Multilingual ecommerce solutions</p>
                    </div>
                    <!-- new -->
                    <div id="main3" class=".hag2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                            <g clip-path="url(#clip0_58_1708)">
                            <path d="M5.5 2.30762C4.57174 2.30762 3.6815 2.67637 3.02513 3.33274C2.36875 3.98912 2 4.87936 2 5.80762V10.8076C2 11.7359 2.36875 12.6261 3.02513 13.2825C3.6815 13.9389 4.57174 14.3076 5.5 14.3076H10.5C11.4283 14.3076 12.3185 13.9389 12.9749 13.2825C13.6313 12.6261 14 11.7359 14 10.8076V8.30762C14 8.17501 14.0527 8.04783 14.1464 7.95406C14.2402 7.8603 14.3674 7.80762 14.5 7.80762C14.6326 7.80762 14.7598 7.8603 14.8536 7.95406C14.9473 8.04783 15 8.17501 15 8.30762V10.8076C15 12.0011 14.5259 13.1457 13.682 13.9896C12.8381 14.8335 11.6935 15.3076 10.5 15.3076H5.5C4.30653 15.3076 3.16193 14.8335 2.31802 13.9896C1.47411 13.1457 1 12.0011 1 10.8076V5.80762C1 4.61414 1.47411 3.46955 2.31802 2.62564C3.16193 1.78172 4.30653 1.30762 5.5 1.30762H8C8.13261 1.30762 8.25979 1.3603 8.35355 1.45406C8.44732 1.54783 8.5 1.67501 8.5 1.80762C8.5 1.94023 8.44732 2.0674 8.35355 2.16117C8.25979 2.25494 8.13261 2.30762 8 2.30762H5.5Z" fill="#7DB434"/>
                            <path d="M16 3.30762C16 4.10327 15.6839 4.86633 15.1213 5.42894C14.5587 5.99155 13.7956 6.30762 13 6.30762C12.2044 6.30762 11.4413 5.99155 10.8787 5.42894C10.3161 4.86633 10 4.10327 10 3.30762C10 2.51197 10.3161 1.74891 10.8787 1.1863C11.4413 0.623688 12.2044 0.307617 13 0.307617C13.7956 0.307617 14.5587 0.623688 15.1213 1.1863C15.6839 1.74891 16 2.51197 16 3.30762Z" fill="#7DB434"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_58_1708">
                            <rect width="16" height="16" fill="white" transform="translate(0 0.307617)"/>
                            </clipPath>
                            </defs>
                            </svg>
                            <p>Build brand or country specific stores</p>
                    
                    <a href="/moreone">EXPLORE MORE</a>
                    </div>
                   </div>
               <!-- new -->

            </div>
           
        </div>
    
        <div id="page7">
            <div id="data">
                <h1>Ace your ecommerce game with mobile commerce</h1>
                <p>73% of ecommerce happens on mobile devices. Gear up your brand for the trillion-dollar M-<br>commerce market with high-speed stores built on mobile-first architecture.</p>
            </div>

            <div id="data2">
                <div class="main-child">
                    <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/64f191726286289345300816/zero-new-280x280.webp" alt="">
                    <p>ZERO additional cost to build Androidand IOS apps</p>
                </div>
                <div class="main-child">
                    <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/64f1917f62862893453008ef/quick-new-280x280.webp" alt="">
                    <p>Quick loading pages built with SPA for seamless buying experience</p>
                </div>
            </div>
            <div id="data3">
                <div class="main-child">
                    <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/64f191882425e881ee6dd2a9/pwd-280x280.webp" alt="">
                    <p>PWA stores that work as hybrid apps<br>across devices</p>
                </div>
                <div class="main-child">
                    <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/64f191941f684481ed77df8c/seamless-new-280x280.webp" alt="">
                    <p>Seamless user-experience in poor or no<br>internet zones</p>
                </div>
            </div>
            <div id="btn4">
                <a href="/btn"><button>EXPLORE MORE</button></a>
                </div>
        </div>
       <div id="page8">
         <div id="tangent">
            <h1>Responsive Ecommerce Website Themes</h1>
            <p>Customize your own themes to give your store a unique look</p>
         </div>
         <div id="main-tangent">
            <div id="tag9">
            <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/653260263c0d21394d084d52/hipster-min.png" alt="">
         </div>
         <!-- new -->
         <div id="tag9">
            <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/65326040ccf31939d0572e71/fashion-min.png" alt="">
         </div>
         <!-- new -->
         <div id="tag9">
            <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/6532605971031d0f7c03bd55/swadu-min.png" alt="">
         </div>
         <!-- new -->
         <div id="tag9">
            <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/653260673c0d21394d085577/sports-min.png" alt="">
         </div>
         </div>
       </div>

       <div id="page10">
        <div id="main-bar4">
            <div class="newpage">
            <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/651d463b2637a8c6b114bf2d/faster-performance-539x400.png" alt="">
           <h3>Faster Performance</h3>  
            <div id="mainly">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                    <g clip-path="url(#clip0_58_1708)">
                    <path d="M5.5 2.30762C4.57174 2.30762 3.6815 2.67637 3.02513 3.33274C2.36875 3.98912 2 4.87936 2 5.80762V10.8076C2 11.7359 2.36875 12.6261 3.02513 13.2825C3.6815 13.9389 4.57174 14.3076 5.5 14.3076H10.5C11.4283 14.3076 12.3185 13.9389 12.9749 13.2825C13.6313 12.6261 14 11.7359 14 10.8076V8.30762C14 8.17501 14.0527 8.04783 14.1464 7.95406C14.2402 7.8603 14.3674 7.80762 14.5 7.80762C14.6326 7.80762 14.7598 7.8603 14.8536 7.95406C14.9473 8.04783 15 8.17501 15 8.30762V10.8076C15 12.0011 14.5259 13.1457 13.682 13.9896C12.8381 14.8335 11.6935 15.3076 10.5 15.3076H5.5C4.30653 15.3076 3.16193 14.8335 2.31802 13.9896C1.47411 13.1457 1 12.0011 1 10.8076V5.80762C1 4.61414 1.47411 3.46955 2.31802 2.62564C3.16193 1.78172 4.30653 1.30762 5.5 1.30762H8C8.13261 1.30762 8.25979 1.3603 8.35355 1.45406C8.44732 1.54783 8.5 1.67501 8.5 1.80762C8.5 1.94023 8.44732 2.0674 8.35355 2.16117C8.25979 2.25494 8.13261 2.30762 8 2.30762H5.5Z" fill="#7DB434"/>
                    <path d="M16 3.30762C16 4.10327 15.6839 4.86633 15.1213 5.42894C14.5587 5.99155 13.7956 6.30762 13 6.30762C12.2044 6.30762 11.4413 5.99155 10.8787 5.42894C10.3161 4.86633 10 4.10327 10 3.30762C10 2.51197 10.3161 1.74891 10.8787 1.1863C11.4413 0.623688 12.2044 0.307617 13 0.307617C13.7956 0.307617 14.5587 0.623688 15.1213 1.1863C15.6839 1.74891 16 2.51197 16 3.30762Z" fill="#7DB434"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_58_1708">
                    <rect width="16" height="16" fill="white" transform="translate(0 0.307617)"/>
                    </clipPath>
                    </defs>
                    </svg>
                    <p>Less than 50ms Average response time</p>
                    

                    
            </div>  
            <div id="mainly">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                    <g clip-path="url(#clip0_58_1708)">
                    <path d="M5.5 2.30762C4.57174 2.30762 3.6815 2.67637 3.02513 3.33274C2.36875 3.98912 2 4.87936 2 5.80762V10.8076C2 11.7359 2.36875 12.6261 3.02513 13.2825C3.6815 13.9389 4.57174 14.3076 5.5 14.3076H10.5C11.4283 14.3076 12.3185 13.9389 12.9749 13.2825C13.6313 12.6261 14 11.7359 14 10.8076V8.30762C14 8.17501 14.0527 8.04783 14.1464 7.95406C14.2402 7.8603 14.3674 7.80762 14.5 7.80762C14.6326 7.80762 14.7598 7.8603 14.8536 7.95406C14.9473 8.04783 15 8.17501 15 8.30762V10.8076C15 12.0011 14.5259 13.1457 13.682 13.9896C12.8381 14.8335 11.6935 15.3076 10.5 15.3076H5.5C4.30653 15.3076 3.16193 14.8335 2.31802 13.9896C1.47411 13.1457 1 12.0011 1 10.8076V5.80762C1 4.61414 1.47411 3.46955 2.31802 2.62564C3.16193 1.78172 4.30653 1.30762 5.5 1.30762H8C8.13261 1.30762 8.25979 1.3603 8.35355 1.45406C8.44732 1.54783 8.5 1.67501 8.5 1.80762C8.5 1.94023 8.44732 2.0674 8.35355 2.16117C8.25979 2.25494 8.13261 2.30762 8 2.30762H5.5Z" fill="#7DB434"/>
                    <path d="M16 3.30762C16 4.10327 15.6839 4.86633 15.1213 5.42894C14.5587 5.99155 13.7956 6.30762 13 6.30762C12.2044 6.30762 11.4413 5.99155 10.8787 5.42894C10.3161 4.86633 10 4.10327 10 3.30762C10 2.51197 10.3161 1.74891 10.8787 1.1863C11.4413 0.623688 12.2044 0.307617 13 0.307617C13.7956 0.307617 14.5587 0.623688 15.1213 1.1863C15.6839 1.74891 16 2.51197 16 3.30762Z" fill="#7DB434"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_58_1708">
                    <rect width="16" height="16" fill="white" transform="translate(0 0.307617)"/>
                    </clipPath>
                    </defs>
                    </svg>
                    <p>500 million+ API requests per month</p>
                    

                    
            </div>  
            <div id="mainly">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                    <g clip-path="url(#clip0_58_1708)">
                    <path d="M5.5 2.30762C4.57174 2.30762 3.6815 2.67637 3.02513 3.33274C2.36875 3.98912 2 4.87936 2 5.80762V10.8076C2 11.7359 2.36875 12.6261 3.02513 13.2825C3.6815 13.9389 4.57174 14.3076 5.5 14.3076H10.5C11.4283 14.3076 12.3185 13.9389 12.9749 13.2825C13.6313 12.6261 14 11.7359 14 10.8076V8.30762C14 8.17501 14.0527 8.04783 14.1464 7.95406C14.2402 7.8603 14.3674 7.80762 14.5 7.80762C14.6326 7.80762 14.7598 7.8603 14.8536 7.95406C14.9473 8.04783 15 8.17501 15 8.30762V10.8076C15 12.0011 14.5259 13.1457 13.682 13.9896C12.8381 14.8335 11.6935 15.3076 10.5 15.3076H5.5C4.30653 15.3076 3.16193 14.8335 2.31802 13.9896C1.47411 13.1457 1 12.0011 1 10.8076V5.80762C1 4.61414 1.47411 3.46955 2.31802 2.62564C3.16193 1.78172 4.30653 1.30762 5.5 1.30762H8C8.13261 1.30762 8.25979 1.3603 8.35355 1.45406C8.44732 1.54783 8.5 1.67501 8.5 1.80762C8.5 1.94023 8.44732 2.0674 8.35355 2.16117C8.25979 2.25494 8.13261 2.30762 8 2.30762H5.5Z" fill="#7DB434"/>
                    <path d="M16 3.30762C16 4.10327 15.6839 4.86633 15.1213 5.42894C14.5587 5.99155 13.7956 6.30762 13 6.30762C12.2044 6.30762 11.4413 5.99155 10.8787 5.42894C10.3161 4.86633 10 4.10327 10 3.30762C10 2.51197 10.3161 1.74891 10.8787 1.1863C11.4413 0.623688 12.2044 0.307617 13 0.307617C13.7956 0.307617 14.5587 0.623688 15.1213 1.1863C15.6839 1.74891 16 2.51197 16 3.30762Z" fill="#7DB434"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_58_1708">
                    <rect width="16" height="16" fill="white" transform="translate(0 0.307617)"/>
                    </clipPath>
                    </defs>
                    </svg>
                    <p>4x faster page switch time than cart software</p>
                    

                    
            </div>  
            <!-- new -->
            <div id="mainly">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                    <g clip-path="url(#clip0_58_1708)">
                    <path d="M5.5 2.30762C4.57174 2.30762 3.6815 2.67637 3.02513 3.33274C2.36875 3.98912 2 4.87936 2 5.80762V10.8076C2 11.7359 2.36875 12.6261 3.02513 13.2825C3.6815 13.9389 4.57174 14.3076 5.5 14.3076H10.5C11.4283 14.3076 12.3185 13.9389 12.9749 13.2825C13.6313 12.6261 14 11.7359 14 10.8076V8.30762C14 8.17501 14.0527 8.04783 14.1464 7.95406C14.2402 7.8603 14.3674 7.80762 14.5 7.80762C14.6326 7.80762 14.7598 7.8603 14.8536 7.95406C14.9473 8.04783 15 8.17501 15 8.30762V10.8076C15 12.0011 14.5259 13.1457 13.682 13.9896C12.8381 14.8335 11.6935 15.3076 10.5 15.3076H5.5C4.30653 15.3076 3.16193 14.8335 2.31802 13.9896C1.47411 13.1457 1 12.0011 1 10.8076V5.80762C1 4.61414 1.47411 3.46955 2.31802 2.62564C3.16193 1.78172 4.30653 1.30762 5.5 1.30762H8C8.13261 1.30762 8.25979 1.3603 8.35355 1.45406C8.44732 1.54783 8.5 1.67501 8.5 1.80762C8.5 1.94023 8.44732 2.0674 8.35355 2.16117C8.25979 2.25494 8.13261 2.30762 8 2.30762H5.5Z" fill="#7DB434"/>
                    <path d="M16 3.30762C16 4.10327 15.6839 4.86633 15.1213 5.42894C14.5587 5.99155 13.7956 6.30762 13 6.30762C12.2044 6.30762 11.4413 5.99155 10.8787 5.42894C10.3161 4.86633 10 4.10327 10 3.30762C10 2.51197 10.3161 1.74891 10.8787 1.1863C11.4413 0.623688 12.2044 0.307617 13 0.307617C13.7956 0.307617 14.5587 0.623688 15.1213 1.1863C15.6839 1.74891 16 2.51197 16 3.30762Z" fill="#7DB434"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_58_1708">
                    <rect width="16" height="16" fill="white" transform="translate(0 0.307617)"/>
                    </clipPath>
                    </defs>
                    </svg>
                    <p>Unparalleled speed from a few billions buyers</p>
                    

                    
            </div>  
            <div id="data4" class="wasim">
                <a href="/explore"><button>EXPLORE MORE</button></a>
                </div>
               
            <!-- new -->
        </div>
        <!-- new -->
        <div class="newpage">
            <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/651d464486a023c746249edc/mach-icon-new-539x400.png" alt="">
           <h3>MACH Architecture</h3>  
            <div id="mainly">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                    <g clip-path="url(#clip0_58_1708)">
                    <path d="M5.5 2.30762C4.57174 2.30762 3.6815 2.67637 3.02513 3.33274C2.36875 3.98912 2 4.87936 2 5.80762V10.8076C2 11.7359 2.36875 12.6261 3.02513 13.2825C3.6815 13.9389 4.57174 14.3076 5.5 14.3076H10.5C11.4283 14.3076 12.3185 13.9389 12.9749 13.2825C13.6313 12.6261 14 11.7359 14 10.8076V8.30762C14 8.17501 14.0527 8.04783 14.1464 7.95406C14.2402 7.8603 14.3674 7.80762 14.5 7.80762C14.6326 7.80762 14.7598 7.8603 14.8536 7.95406C14.9473 8.04783 15 8.17501 15 8.30762V10.8076C15 12.0011 14.5259 13.1457 13.682 13.9896C12.8381 14.8335 11.6935 15.3076 10.5 15.3076H5.5C4.30653 15.3076 3.16193 14.8335 2.31802 13.9896C1.47411 13.1457 1 12.0011 1 10.8076V5.80762C1 4.61414 1.47411 3.46955 2.31802 2.62564C3.16193 1.78172 4.30653 1.30762 5.5 1.30762H8C8.13261 1.30762 8.25979 1.3603 8.35355 1.45406C8.44732 1.54783 8.5 1.67501 8.5 1.80762C8.5 1.94023 8.44732 2.0674 8.35355 2.16117C8.25979 2.25494 8.13261 2.30762 8 2.30762H5.5Z" fill="#7DB434"/>
                    <path d="M16 3.30762C16 4.10327 15.6839 4.86633 15.1213 5.42894C14.5587 5.99155 13.7956 6.30762 13 6.30762C12.2044 6.30762 11.4413 5.99155 10.8787 5.42894C10.3161 4.86633 10 4.10327 10 3.30762C10 2.51197 10.3161 1.74891 10.8787 1.1863C11.4413 0.623688 12.2044 0.307617 13 0.307617C13.7956 0.307617 14.5587 0.623688 15.1213 1.1863C15.6839 1.74891 16 2.51197 16 3.30762Z" fill="#7DB434"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_58_1708">
                    <rect width="16" height="16" fill="white" transform="translate(0 0.307617)"/>
                    </clipPath>
                    </defs>
                    </svg>
                    <p>Microservices to build composable functionality</p>
                    

                    
            </div>  
            <div id="mainly">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                    <g clip-path="url(#clip0_58_1708)">
                    <path d="M5.5 2.30762C4.57174 2.30762 3.6815 2.67637 3.02513 3.33274C2.36875 3.98912 2 4.87936 2 5.80762V10.8076C2 11.7359 2.36875 12.6261 3.02513 13.2825C3.6815 13.9389 4.57174 14.3076 5.5 14.3076H10.5C11.4283 14.3076 12.3185 13.9389 12.9749 13.2825C13.6313 12.6261 14 11.7359 14 10.8076V8.30762C14 8.17501 14.0527 8.04783 14.1464 7.95406C14.2402 7.8603 14.3674 7.80762 14.5 7.80762C14.6326 7.80762 14.7598 7.8603 14.8536 7.95406C14.9473 8.04783 15 8.17501 15 8.30762V10.8076C15 12.0011 14.5259 13.1457 13.682 13.9896C12.8381 14.8335 11.6935 15.3076 10.5 15.3076H5.5C4.30653 15.3076 3.16193 14.8335 2.31802 13.9896C1.47411 13.1457 1 12.0011 1 10.8076V5.80762C1 4.61414 1.47411 3.46955 2.31802 2.62564C3.16193 1.78172 4.30653 1.30762 5.5 1.30762H8C8.13261 1.30762 8.25979 1.3603 8.35355 1.45406C8.44732 1.54783 8.5 1.67501 8.5 1.80762C8.5 1.94023 8.44732 2.0674 8.35355 2.16117C8.25979 2.25494 8.13261 2.30762 8 2.30762H5.5Z" fill="#7DB434"/>
                    <path d="M16 3.30762C16 4.10327 15.6839 4.86633 15.1213 5.42894C14.5587 5.99155 13.7956 6.30762 13 6.30762C12.2044 6.30762 11.4413 5.99155 10.8787 5.42894C10.3161 4.86633 10 4.10327 10 3.30762C10 2.51197 10.3161 1.74891 10.8787 1.1863C11.4413 0.623688 12.2044 0.307617 13 0.307617C13.7956 0.307617 14.5587 0.623688 15.1213 1.1863C15.6839 1.74891 16 2.51197 16 3.30762Z" fill="#7DB434"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_58_1708">
                    <rect width="16" height="16" fill="white" transform="translate(0 0.307617)"/>
                    </clipPath>
                    </defs>
                    </svg>
                    <p>APIs to integrate with chosen software services</p>
                    

                    
            </div>  
            <div id="mainly">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                    <g clip-path="url(#clip0_58_1708)">
                    <path d="M5.5 2.30762C4.57174 2.30762 3.6815 2.67637 3.02513 3.33274C2.36875 3.98912 2 4.87936 2 5.80762V10.8076C2 11.7359 2.36875 12.6261 3.02513 13.2825C3.6815 13.9389 4.57174 14.3076 5.5 14.3076H10.5C11.4283 14.3076 12.3185 13.9389 12.9749 13.2825C13.6313 12.6261 14 11.7359 14 10.8076V8.30762C14 8.17501 14.0527 8.04783 14.1464 7.95406C14.2402 7.8603 14.3674 7.80762 14.5 7.80762C14.6326 7.80762 14.7598 7.8603 14.8536 7.95406C14.9473 8.04783 15 8.17501 15 8.30762V10.8076C15 12.0011 14.5259 13.1457 13.682 13.9896C12.8381 14.8335 11.6935 15.3076 10.5 15.3076H5.5C4.30653 15.3076 3.16193 14.8335 2.31802 13.9896C1.47411 13.1457 1 12.0011 1 10.8076V5.80762C1 4.61414 1.47411 3.46955 2.31802 2.62564C3.16193 1.78172 4.30653 1.30762 5.5 1.30762H8C8.13261 1.30762 8.25979 1.3603 8.35355 1.45406C8.44732 1.54783 8.5 1.67501 8.5 1.80762C8.5 1.94023 8.44732 2.0674 8.35355 2.16117C8.25979 2.25494 8.13261 2.30762 8 2.30762H5.5Z" fill="#7DB434"/>
                    <path d="M16 3.30762C16 4.10327 15.6839 4.86633 15.1213 5.42894C14.5587 5.99155 13.7956 6.30762 13 6.30762C12.2044 6.30762 11.4413 5.99155 10.8787 5.42894C10.3161 4.86633 10 4.10327 10 3.30762C10 2.51197 10.3161 1.74891 10.8787 1.1863C11.4413 0.623688 12.2044 0.307617 13 0.307617C13.7956 0.307617 14.5587 0.623688 15.1213 1.1863C15.6839 1.74891 16 2.51197 16 3.30762Z" fill="#7DB434"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_58_1708">
                    <rect width="16" height="16" fill="white" transform="translate(0 0.307617)"/>
                    </clipPath>
                    </defs>
                    </svg>
                    <p>Cloud infrastructure  scale  your business growth</p>
                    

                    
            </div>  
            <!-- new -->
            <div id="mainly">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                    <g clip-path="url(#clip0_58_1708)">
                    <path d="M5.5 2.30762C4.57174 2.30762 3.6815 2.67637 3.02513 3.33274C2.36875 3.98912 2 4.87936 2 5.80762V10.8076C2 11.7359 2.36875 12.6261 3.02513 13.2825C3.6815 13.9389 4.57174 14.3076 5.5 14.3076H10.5C11.4283 14.3076 12.3185 13.9389 12.9749 13.2825C13.6313 12.6261 14 11.7359 14 10.8076V8.30762C14 8.17501 14.0527 8.04783 14.1464 7.95406C14.2402 7.8603 14.3674 7.80762 14.5 7.80762C14.6326 7.80762 14.7598 7.8603 14.8536 7.95406C14.9473 8.04783 15 8.17501 15 8.30762V10.8076C15 12.0011 14.5259 13.1457 13.682 13.9896C12.8381 14.8335 11.6935 15.3076 10.5 15.3076H5.5C4.30653 15.3076 3.16193 14.8335 2.31802 13.9896C1.47411 13.1457 1 12.0011 1 10.8076V5.80762C1 4.61414 1.47411 3.46955 2.31802 2.62564C3.16193 1.78172 4.30653 1.30762 5.5 1.30762H8C8.13261 1.30762 8.25979 1.3603 8.35355 1.45406C8.44732 1.54783 8.5 1.67501 8.5 1.80762C8.5 1.94023 8.44732 2.0674 8.35355 2.16117C8.25979 2.25494 8.13261 2.30762 8 2.30762H5.5Z" fill="#7DB434"/>
                    <path d="M16 3.30762C16 4.10327 15.6839 4.86633 15.1213 5.42894C14.5587 5.99155 13.7956 6.30762 13 6.30762C12.2044 6.30762 11.4413 5.99155 10.8787 5.42894C10.3161 4.86633 10 4.10327 10 3.30762C10 2.51197 10.3161 1.74891 10.8787 1.1863C11.4413 0.623688 12.2044 0.307617 13 0.307617C13.7956 0.307617 14.5587 0.623688 15.1213 1.1863C15.6839 1.74891 16 2.51197 16 3.30762Z" fill="#7DB434"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_58_1708">
                    <rect width="16" height="16" fill="white" transform="translate(0 0.307617)"/>
                    </clipPath>
                    </defs>
                    </svg>
                    <p>Headless Commerce implement  personality</p>
                    </div>
                    <div id="data4" class="wasim3">
                     <a href="/explore1"><button>EXPLORE MORE</button></a>
                     </div>
                    
            
            <!-- new -->
        </div>
        <!-- new -->
        <div class="newpage">
            <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/651d464a2637a8c6b114c016/security-539x400.png" alt="">
           <h3>Security</h3>  
            <div id="mainly">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                    <g clip-path="url(#clip0_58_1708)">
                    <path d="M5.5 2.30762C4.57174 2.30762 3.6815 2.67637 3.02513 3.33274C2.36875 3.98912 2 4.87936 2 5.80762V10.8076C2 11.7359 2.36875 12.6261 3.02513 13.2825C3.6815 13.9389 4.57174 14.3076 5.5 14.3076H10.5C11.4283 14.3076 12.3185 13.9389 12.9749 13.2825C13.6313 12.6261 14 11.7359 14 10.8076V8.30762C14 8.17501 14.0527 8.04783 14.1464 7.95406C14.2402 7.8603 14.3674 7.80762 14.5 7.80762C14.6326 7.80762 14.7598 7.8603 14.8536 7.95406C14.9473 8.04783 15 8.17501 15 8.30762V10.8076C15 12.0011 14.5259 13.1457 13.682 13.9896C12.8381 14.8335 11.6935 15.3076 10.5 15.3076H5.5C4.30653 15.3076 3.16193 14.8335 2.31802 13.9896C1.47411 13.1457 1 12.0011 1 10.8076V5.80762C1 4.61414 1.47411 3.46955 2.31802 2.62564C3.16193 1.78172 4.30653 1.30762 5.5 1.30762H8C8.13261 1.30762 8.25979 1.3603 8.35355 1.45406C8.44732 1.54783 8.5 1.67501 8.5 1.80762C8.5 1.94023 8.44732 2.0674 8.35355 2.16117C8.25979 2.25494 8.13261 2.30762 8 2.30762H5.5Z" fill="#7DB434"/>
                    <path d="M16 3.30762C16 4.10327 15.6839 4.86633 15.1213 5.42894C14.5587 5.99155 13.7956 6.30762 13 6.30762C12.2044 6.30762 11.4413 5.99155 10.8787 5.42894C10.3161 4.86633 10 4.10327 10 3.30762C10 2.51197 10.3161 1.74891 10.8787 1.1863C11.4413 0.623688 12.2044 0.307617 13 0.307617C13.7956 0.307617 14.5587 0.623688 15.1213 1.1863C15.6839 1.74891 16 2.51197 16 3.30762Z" fill="#7DB434"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_58_1708">
                    <rect width="16" height="16" fill="white" transform="translate(0 0.307617)"/>
                    </clipPath>
                    </defs>
                    </svg>
                    <p>Secure sites hosted on leading  infrastructure</p>
                    

                    
            </div>  
            <div id="mainly">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                    <g clip-path="url(#clip0_58_1708)">
                    <path d="M5.5 2.30762C4.57174 2.30762 3.6815 2.67637 3.02513 3.33274C2.36875 3.98912 2 4.87936 2 5.80762V10.8076C2 11.7359 2.36875 12.6261 3.02513 13.2825C3.6815 13.9389 4.57174 14.3076 5.5 14.3076H10.5C11.4283 14.3076 12.3185 13.9389 12.9749 13.2825C13.6313 12.6261 14 11.7359 14 10.8076V8.30762C14 8.17501 14.0527 8.04783 14.1464 7.95406C14.2402 7.8603 14.3674 7.80762 14.5 7.80762C14.6326 7.80762 14.7598 7.8603 14.8536 7.95406C14.9473 8.04783 15 8.17501 15 8.30762V10.8076C15 12.0011 14.5259 13.1457 13.682 13.9896C12.8381 14.8335 11.6935 15.3076 10.5 15.3076H5.5C4.30653 15.3076 3.16193 14.8335 2.31802 13.9896C1.47411 13.1457 1 12.0011 1 10.8076V5.80762C1 4.61414 1.47411 3.46955 2.31802 2.62564C3.16193 1.78172 4.30653 1.30762 5.5 1.30762H8C8.13261 1.30762 8.25979 1.3603 8.35355 1.45406C8.44732 1.54783 8.5 1.67501 8.5 1.80762C8.5 1.94023 8.44732 2.0674 8.35355 2.16117C8.25979 2.25494 8.13261 2.30762 8 2.30762H5.5Z" fill="#7DB434"/>
                    <path d="M16 3.30762C16 4.10327 15.6839 4.86633 15.1213 5.42894C14.5587 5.99155 13.7956 6.30762 13 6.30762C12.2044 6.30762 11.4413 5.99155 10.8787 5.42894C10.3161 4.86633 10 4.10327 10 3.30762C10 2.51197 10.3161 1.74891 10.8787 1.1863C11.4413 0.623688 12.2044 0.307617 13 0.307617C13.7956 0.307617 14.5587 0.623688 15.1213 1.1863C15.6839 1.74891 16 2.51197 16 3.30762Z" fill="#7DB434"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_58_1708">
                    <rect width="16" height="16" fill="white" transform="translate(0 0.307617)"/>
                    </clipPath>
                    </defs>
                    </svg>
                    <p>PCI  compliant enterprise ecommerce platform</p>
                    

                    
            </div>  
            <div id="mainly">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                    <g clip-path="url(#clip0_58_1708)">
                    <path d="M5.5 2.30762C4.57174 2.30762 3.6815 2.67637 3.02513 3.33274C2.36875 3.98912 2 4.87936 2 5.80762V10.8076C2 11.7359 2.36875 12.6261 3.02513 13.2825C3.6815 13.9389 4.57174 14.3076 5.5 14.3076H10.5C11.4283 14.3076 12.3185 13.9389 12.9749 13.2825C13.6313 12.6261 14 11.7359 14 10.8076V8.30762C14 8.17501 14.0527 8.04783 14.1464 7.95406C14.2402 7.8603 14.3674 7.80762 14.5 7.80762C14.6326 7.80762 14.7598 7.8603 14.8536 7.95406C14.9473 8.04783 15 8.17501 15 8.30762V10.8076C15 12.0011 14.5259 13.1457 13.682 13.9896C12.8381 14.8335 11.6935 15.3076 10.5 15.3076H5.5C4.30653 15.3076 3.16193 14.8335 2.31802 13.9896C1.47411 13.1457 1 12.0011 1 10.8076V5.80762C1 4.61414 1.47411 3.46955 2.31802 2.62564C3.16193 1.78172 4.30653 1.30762 5.5 1.30762H8C8.13261 1.30762 8.25979 1.3603 8.35355 1.45406C8.44732 1.54783 8.5 1.67501 8.5 1.80762C8.5 1.94023 8.44732 2.0674 8.35355 2.16117C8.25979 2.25494 8.13261 2.30762 8 2.30762H5.5Z" fill="#7DB434"/>
                    <path d="M16 3.30762C16 4.10327 15.6839 4.86633 15.1213 5.42894C14.5587 5.99155 13.7956 6.30762 13 6.30762C12.2044 6.30762 11.4413 5.99155 10.8787 5.42894C10.3161 4.86633 10 4.10327 10 3.30762C10 2.51197 10.3161 1.74891 10.8787 1.1863C11.4413 0.623688 12.2044 0.307617 13 0.307617C13.7956 0.307617 14.5587 0.623688 15.1213 1.1863C15.6839 1.74891 16 2.51197 16 3.30762Z" fill="#7DB434"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_58_1708">
                    <rect width="16" height="16" fill="white" transform="translate(0 0.307617)"/>
                    </clipPath>
                    </defs>
                    </svg>
                    <p>Data encryption and credit card security</p>
                    

                    
            </div>  
            <!-- new -->
            <div id="mainly">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                    <g clip-path="url(#clip0_58_1708)">
                    <path d="M5.5 2.30762C4.57174 2.30762 3.6815 2.67637 3.02513 3.33274C2.36875 3.98912 2 4.87936 2 5.80762V10.8076C2 11.7359 2.36875 12.6261 3.02513 13.2825C3.6815 13.9389 4.57174 14.3076 5.5 14.3076H10.5C11.4283 14.3076 12.3185 13.9389 12.9749 13.2825C13.6313 12.6261 14 11.7359 14 10.8076V8.30762C14 8.17501 14.0527 8.04783 14.1464 7.95406C14.2402 7.8603 14.3674 7.80762 14.5 7.80762C14.6326 7.80762 14.7598 7.8603 14.8536 7.95406C14.9473 8.04783 15 8.17501 15 8.30762V10.8076C15 12.0011 14.5259 13.1457 13.682 13.9896C12.8381 14.8335 11.6935 15.3076 10.5 15.3076H5.5C4.30653 15.3076 3.16193 14.8335 2.31802 13.9896C1.47411 13.1457 1 12.0011 1 10.8076V5.80762C1 4.61414 1.47411 3.46955 2.31802 2.62564C3.16193 1.78172 4.30653 1.30762 5.5 1.30762H8C8.13261 1.30762 8.25979 1.3603 8.35355 1.45406C8.44732 1.54783 8.5 1.67501 8.5 1.80762C8.5 1.94023 8.44732 2.0674 8.35355 2.16117C8.25979 2.25494 8.13261 2.30762 8 2.30762H5.5Z" fill="#7DB434"/>
                    <path d="M16 3.30762C16 4.10327 15.6839 4.86633 15.1213 5.42894C14.5587 5.99155 13.7956 6.30762 13 6.30762C12.2044 6.30762 11.4413 5.99155 10.8787 5.42894C10.3161 4.86633 10 4.10327 10 3.30762C10 2.51197 10.3161 1.74891 10.8787 1.1863C11.4413 0.623688 12.2044 0.307617 13 0.307617C13.7956 0.307617 14.5587 0.623688 15.1213 1.1863C15.6839 1.74891 16 2.51197 16 3.30762Z" fill="#7DB434"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_58_1708">
                    <rect width="16" height="16" fill="white" transform="translate(0 0.307617)"/>
                    </clipPath>
                    </defs>
                    </svg>
                    <p>Secure websites with FREE SSL issued in minutes</p>
                    

                    
            </div>  
            <div id="data4" class="wasim2">
                <a href="/explore2"><button>EXPLORE MORE</button></a>
                </div>
               
            <!-- new -->
        </div>
        <!-- new -->
        </div>
       </div>

       <div id="page11">
        <div id="talent">
            <a target="_blank" href="https://www.facebook.com/StoreHippo"><i class="fa-brands fa-facebook-f"></i></a>
             <a target="_blank" href="https://twitter.com/StoreHippo"><i class="fa-brands fa-twitter"></i></a>
             <a target="_blank"  href="https://www.youtube.com/channel/UCcDoHBL7DVQNl5ApYs8sq3w"><i class="fa-brands fa-square-youtube"></i></a>
             <a target="_blank" href="https://www.linkedin.com/company/hippoinnovations/"><i class="fa-brands fa-linkedin"></i></a>
             <a target="_blank" href="https://www.instagram.com/storehippo_/"><i class="fa-brands fa-instagram"></i></a>
             <a id="range" target="_blank"  href="https://in.pinterest.com/mystorehippo/"><i class="fa-brands fa-pinterest"></i></a>
        </div>
        <div id="talent1">
            <h1>Create your online store with StoreHippo</h1>
            <input type="email" placeholder="Enter your Email" name="email" required="">
            <a href="/signup">GET STARTED</a>
        </div>
       </div>

       <div id="page12">
        <div id="tag5">
            <h2>Information</h2>
            <p>About Us</p>
            <p>Careers</p>
            <p>Contact Us</p>
            <p>Media</p>
            <p>Privacy Policy</p>
            <p>Social Responsibility</p>
            <p>Merchant Agreement</p>
            <p>Partner Program</p>
            <p>PCI-DSS Certification</p>
            <p>ISO Certification</p>
        </div>
        <div id="tag5">
            <h2>Support</h2>
            <p>API Reference</p>
            <p>Experts</p>
            <p>Forums</p>
            <p>Help Center</p>
            <p>Support Home</p>
        </div>
        <div id="tag5">
            <h2>Explore</h2>
            <p>Blog</p>
            <p>Examples</p>
            <p>Industries</p>
            <p>Marketing</p>
            <p>Sitemap</p>
            <p>Solutions</p>
            <p>Technology</p>
            <p>Themes</p>
            <p>Topics</p>
            <p>Wiki</p>
            <p>Use Cases</p>
            <p>Stats</p>
        </div>
        <div id="tag5">
            <h2>Features</h2>
            <p>All Features</p>
            <p>B2B Ecommerce</p>
            <p>Integrations</p>
            <p>Logistics</p>
            <p>Mobile Commerce</p>
            <p>Multi Store Ecommerce</p>
            <p>Multi-vendor</p>
            <p>Multilingual</p>
            <p>Ecommerce</p>
            <p>Payment Gateways</p>
        </div>
        <div id="tag5">
            <h2>Comparison</h2>
            <p>StoreHippo Vs Others</p>
            <p>Storehippo Vs Shopify</p>
            <p>StoreHippo Vs Magento
            </p>
            <p>StoreHippo Vs SAP</p>
            <p>StoreHippo Vs</p>
            <p>WooCommerce</p>
            <p>StoreHippo Vs</p>
            <p>BigCommerce</p>
        </div>
       </div>
     <div id="page13">
        <div id="mobile">
            <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/64f832050c4b25a6895275a4/pci_logo.webp" alt="">
            <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/64f8321573deccfda3accb6c/iso1.webp" alt="">
        </div>
        <div id="mobile1">
            <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/651eb03467c855fc7bf78806/retail-dna-logo.png" alt="">
            <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/651eb0b568fc4631c18be6ea/e-commerceplatforms_highperformer_highperformer.png" alt="">
            <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/64f8324e033076a5c7d5a416/e-commerceplatforms_highperformer_india_highperformer_2023.png" alt="">
            <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/64f83f4cdb28d06e273a4ced/image-1.png" alt="">
            <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/64f8326c0c4b25a689528104/crozdesk-shopping-cart-software-leader-badge.png" alt="">
        </div>
     </div>
     <div id="footer">
        <p>© copyright 2020 <span>StoreHippo.com</span> . All Rights Reserved.</p>
     </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js" integrity="sha512-Ic9xkERjyZ1xgJ5svx3y0u3xrvfT/uPkV99LBwe68xjy/mGtO+4eURHZBW2xW4SZbFrF1Tf090XqB+EVgXnVjw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="javascripts/script.js"></script>
<%- include('partial/footer') %>
