<%- include('partial/header') %>

<link rel="stylesheet" href="stylesheets/signup.css">
<%- include('partial/nav') %>
<div id="main">
    <div id="form">
        <h1>SIGN-UP</h1>
        <form action="/signin" method="post">
            <input type="text" placeholder="Username" name="Username"><br>
            <input type="email" placeholder="Email" name="email"><br>
            <input type="password" placeholder="password" name="password"><br>
            <input type="number" placeholder="number" name="number"><br>
            <textarea rows="3" cols="40" placeholder="Message"></textarea><br>
            <button>submit</button>

        </form>
    </div>
</div>

<!-- footer -->
<div id="page11">
    <div id="talent">
        <a target="_blank" href="https://www.facebook.com/StoreHippo"><i class="fa-brands fa-facebook-f"></i></a>
         <a target="_blank" href="https://twitter.com/StoreHippo"><i class="fa-brands fa-twitter"></i></a>
         <a target="_blank"  href="https://www.youtube.com/channel/UCcDoHBL7DVQNl5ApYs8sq3w"><i class="fa-brands fa-square-youtube"></i></a>
         <a target="_blank" href="https://www.linkedin.com/company/hippoinnovations/"><i class="fa-brands fa-linkedin"></i></a>
         <a target="_blank" href="https://www.instagram.com/storehippo_/"><i class="fa-brands fa-instagram"></i></a>
         <a id="range" target="_blank"  href="https://in.pinterest.com/mystorehippo/"><i class="fa-brands fa-pinterest"></i></a>
    </div>
    <div id="talent1">
        <h1>Create your online store with StoreHippo</h1>
        <input type="email" placeholder="Enter your Email" name="email">
        <a href="/">GET STARTED</a>
    </div>
   </div>

   <div id="page12">
    <div id="tag5">
        <h2>Information</h2>
        <p>About Us</p>
        <p>Careers</p>
        <p>Contact Us</p>
        <p>Media</p>
        <p>Privacy Policy</p>
        <p>Social Responsibility</p>
        <p>Merchant Agreement</p>
        <p>Partner Program</p>
        <p>PCI-DSS Certification</p>
        <p>ISO Certification</p>
    </div>
    <div id="tag5">
        <h2>Support</h2>
        <p>API Reference</p>
        <p>Experts</p>
        <p>Forums</p>
        <p>Help Center</p>
        <p>Support Home</p>
    </div>
    <div id="tag5">
        <h2>Explore</h2>
        <p>Blog</p>
        <p>Examples</p>
        <p>Industries</p>
        <p>Marketing</p>
        <p>Sitemap</p>
        <p>Solutions</p>
        <p>Technology</p>
        <p>Themes</p>
        <p>Topics</p>
        <p>Wiki</p>
        <p>Use Cases</p>
        <p>Stats</p>
    </div>
    <div id="tag5">
        <h2>Features</h2>
        <p>All Features</p>
        <p>B2B Ecommerce</p>
        <p>Integrations</p>
        <p>Logistics</p>
        <p>Mobile Commerce</p>
        <p>Multi Store Ecommerce</p>
        <p>Multi-vendor</p>
        <p>Multilingual</p>
        <p>Ecommerce</p>
        <p>Payment Gateways</p>
    </div>
    <div id="tag5">
        <h2>Comparison</h2>
        <p>StoreHippo Vs Others</p>
        <p>Storehippo Vs Shopify</p>
        <p>StoreHippo Vs Magento
        </p>
        <p>StoreHippo Vs SAP</p>
        <p>StoreHippo Vs</p>
        <p>WooCommerce</p>
        <p>StoreHippo Vs</p>
        <p>BigCommerce</p>
    </div>
   </div>
 <div id="page13">
    <div id="mobile">
        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/64f832050c4b25a6895275a4/pci_logo.webp" alt="">
        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/64f8321573deccfda3accb6c/iso1.webp" alt="">
    </div>
    <div id="mobile1">
        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/651eb03467c855fc7bf78806/retail-dna-logo.png" alt="">
        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/651eb0b568fc4631c18be6ea/e-commerceplatforms_highperformer_highperformer.png" alt="">
        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/64f8324e033076a5c7d5a416/e-commerceplatforms_highperformer_india_highperformer_2023.png" alt="">
        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/64f83f4cdb28d06e273a4ced/image-1.png" alt="">
        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/64f8326c0c4b25a689528104/crozdesk-shopping-cart-software-leader-badge.png" alt="">
    </div>
 </div>
 <div id="footer">
    <p>© copyright 2020 <span>StoreHippo.com</span> . All Rights Reserved.</p>
 </div>

<%- include('partial/footer') %>