*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    overflow-x: hidden;
}

/* custom scroller bar */

::-webkit-scrollbar{
    width: 15px;
  }
  
  ::-webkit-scrollbar-track{
    background: #d1e5ff;
  }
  
  ::-webkit-scrollbar-thumb{
    /* background:linear-gradient(#642bff,#ff22e6); */
    border-radius: 20px;
    background-color: #7CB334;
  }

#main{
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    margin-top: 6vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#form{
    width: 35vw;
    height: 80vh;
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.4);
    border-radius: 10px;
    text-align: center;
    padding: 2vw 0;
}

#form>h1{
    font-size: 1.8vw;
    font-weight: 500;
    
}

#form>p{
    font-size: 1.1vw;
}

#form>form>input{
    width: 21vw;
    height: 2.5vw;
    margin: 1vw 0;
    outline: none;
    padding: 0 0.5vw;
    border-radius: 1vw;
    border: 1px solid rgba(0,0,0,0.4);
}

#form>form>textarea{
    padding:  0.5vw;
    border-radius: 1vw;
}

#form>form>button{
    padding: 0.4vw 1.5vw;
    background-color: #7CB334;
    color: #fff;
    border: 1px solid #7CB334;
    margin-top: 1vw;
}

/* footer */

#page11{
    width: 100vw;
    height: 50vh;
    display: flex;
    border-bottom:1px solid rgba(0,0,0,0.2) ;
    align-items: center;
    background-color: #F9F8EF;
  }
  
  #talent{
    width: 50%;
    height: 100%;
    border-right: 1px solid rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #talent>a>i{
    color: #7CB334;
    padding: 12px 13px;
    margin: 0 5px;
    border: 1px solid #7CB334;
    border-radius: 50%;
    font-size: 1.5vw;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  
  #talent>a>i::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #7CB334;
    left: 0;
    top: 0;
    transition: all ease 0.4s;
    z-index: 1;
    transform: translateX(100%);
  }
  
  #talent>a>i:hover::after{
    
    transform: translateX(0%);
    z-index: -1;
  }
  #talent>a>i:hover{
    color: #fff;
  }
    
  
  
  #talent1{
    width: 50%;
    height: 100%;
    padding: 6vw;
    
  }
  
  #talent1>h1{
    font-size: 2.3vw;
  }
  
  #talent1>input{
    margin-top: 1vw;
    width: 300px;
    height: 33px;
    padding: 0 10px;
    border-radius: 50px;
    outline: 0;
    border: 1px solid rgba(0,0,0,0.1);
  }
  
  #talent1>a{
    padding: 5px 15px;
    border: 1px solid #7CB334;
    border-radius: 50px;
    color: #fff;
     position: relative;
     right: 80px;
    background-color: #7CB334;
  }
  
  #page12{
    width: 100vw;
    height: 85vh;
    background-color: #F9F8EF;
    display: flex;
    justify-content: center;
    gap: 7vw;
    padding-top: 3vw;
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
  
  #tag5>h2{
    font-size: 1.6vw;
    text-decoration: underline;
    text-underline-offset: 12px;
    text-decoration-thickness: 1px;
    position: relative;
  }
  #tag5>h2::after{
    content: "";
    position: absolute;
    left: 0;
    top: 35px;
    background-color: #7CB334;
    width: 40px;
    height: 2px;
  }
  
  #tag5>p{
    font-size: 1.1vw;
    line-height: 1;
    color:rgba(0,0,0,0.8);
    padding-top: 20px;
  }
  
  #tag5>p:hover{
    color: #7CB334;
  }
  
  #page13{
    width: 100vw;
    height: 40vh;
    background-color:#F9F8EF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15vw;
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
  
  #mobile>img{
    width: 100px;
    margin: 0 10px;  
  }
  
  #mobile1>img{
    width: 100px;
    margin: 0 10px;  
  
  }
  
  #footer{
    width: 100vw;
    height: 8vh;
    background-color: #F9F8EF;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #footer>p{
    font-size: 1.1vw;
  }
  
  #footer>p>span{
    color: #7CB334;
  }
  