
    <link rel="stylesheet" href="stylesheets/nav.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<nav>
   <a href="/"> <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/ms.settings/521c4d7548c284890e000001/594a155440e9fb9e592f2ba9-240x240.png" alt=""> </a>
    <div id="part">
        <div class="dropdown-container">
        <a href="#" id="toggleButton">solutions<i class="fa-solid fa-chevron-down"></i></a>
                 
            <div class="dropdown-content" id="myDropdown">
                <div id="drop">
                  <div id="center1">
                    <h2>Solutions</h2>
                    <p>Complete set of features and <br>tools to start, market and grow<br> your e-commerce business</p>
                    <a href="#"><button>VIEW ALL</button></a>
                    <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/ms.categories/5b976fbe3c11d25dd02edc19/5d7b3c6dafa2f237111d8ddd-250x250.png" alt="">
                  </div>
                  <div id="overlay">
                    <div id="tag">
                    <div id="img-tag">
                        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/originals/629dcabe9e928f18048a9dc8/multi-vendor.svg" alt="">
                    </div> 
                    <div id="heading">
                    <h3>Multi vendor</h3>
                    <p>Build A multi-vendor Marketplace</p>
                    </div>

                    </div>
                    <!-- new -->
                    <div id="tag">
                        <div id="img-tag">
                            <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/originals/629dcb458df4d21846d8d978/multilingual.svg" alt="">
                        </div> 
                        <div id="heading">
                        <h3>Multilingual</h3>
                        <p>Make your online store Available in<br>100+ Languages</p>
                        </div>
    
                        </div>
                        <!-- new -->
                        <div id="tag">
                            <div id="img-tag">
                            <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/originals/629dcb458df4d21846d8d978/multilingual.svg" alt="">
                            </div> 
                            <div id="heading">
                            <h3>D2C</h3>
                            <p>Complete solutions For Enterprise D2C<br>Trasnsition</p>
                            </div>
        
                            </div>
                        <!-- new -->
                        <div id="tag">
                            <div id="img-tag">
                            <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/originals/629dcd02144512c8ce6ec082/omnichannel.svg" alt="">
                            </div> 
                            <div id="heading">
                            <h3>Omnichannel</h3>
                            <p>Offer seamless Buyer Journeys Across<br> Multiple Channels</p>
                            </div>
        
                            </div>
                        <!-- new -->
                        <div id="tag">
                            <div id="img-tag">
                            <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/originals/629dce985522a1745836963d/headless-commerce.svg" alt="">
                            </div> 
                            <div id="heading">
                            <h3>Headless Commerce</h3>
                            <p>sell omnichannel with Headless<br>Commerce</p>
                            </div>
        
                            </div>
                        <!-- new -->
                        <div id="tag">
                            <div id="img-tag">
                            <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/originals/629db744fe7d1703b9c2b294/quick-commerce.svg" alt="">
                            </div> 
                            <div id="heading">
                            <h3>Quick Commerce</h3>
                            <p>Build  Tailor-Made Quick Commerce<br>solutions For Your Brand</p>
                            </div>
        
                            </div>
                        <!-- new -->
                        <div id="tag">
                            <div id="img-tag">
                                <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/originals/629dccac8df4d21846d90bfb/b2b-commerce.svg" alt="">
                            </div> 
                            <div id="heading">
                            <h3>B2B Commerce</h3>
                            <p>Enterprise solutions For B2B Ecommerce</p>
                            </div>
        
                            </div>
                            </div>
                        <!-- new -->
                         <div id="slider-menu">
                            <div id="tag">
                                <div id="img-tag">
                                    <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/originals/629dcaef1c64ed175758ecf6/multi-store.svg" alt="">
                                </div> 
                                <div id="heading">
                                <h3>Multi Store</h3>
                                <p>manage multiple sub Stores from<br>single dashboard</p>
                                </div>
            
                                </div>
                                <div id="tag">
                                    <div id="img-tag">
                                        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/originals/629dcc55188d3373ec00e830/enterprise-commerce-platform.svg" alt="">
                                    </div> 
                                    <div id="heading">
                                    <h3>Enterprise Platinum</h3>
                                    <p>tailor-Made Enterprise Ecommerce<br>solutions For Brands</p>
                                    </div>
                
                                    </div>
                                    <!-- new -->
                                    <div id="tag">
                                        <div id="img-tag">
                                            <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/originals/629dcc779e928f18048ad0a6/b2b2c.svg" alt="">
                                        </div> 
                                        <div id="heading">
                                        <h3>B2B2C Ecommerce</h3>
                                        <p>Hybrid Ecommerce Solutions For <br>B2B+B2C</p>
                                        </div>
                    
                                        </div>
                                        <!-- new -->
                                        <div id="tag">
                                            <div id="img-tag">
                                                <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/originals/629df1430aad4f5c5dd9ab71/service-aggregator.svg" alt="">
                                            </div> 
                                            <div id="heading">
                                            <h3>Service Aggregator</h3>
                                            <p>360-degree solutions For Unique<br>service Aggregator Brands</p>
                                            </div>
                        
                                            </div>
                                            <!-- new -->
                                            <div id="tag">
                                                <div id="img-tag">
                                                    <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/originals/629dce4b5522a17458368ac9/delivery-boy-management.svg" alt="">
                                                </div> 
                                                <div id="heading">
                                                <h3>Delivery Boy Management</h3>
                                                <p>Complete solution To Manage Fleet Of<br>Delivery Agents</p>
                                                </div>
                            
                                                </div>
                                                <!-- new -->
                                                <div id="tag">
                                                    <div id="img-tag">
                                                        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/originals/629dcfd9a79e7dc97caf13f8/mobile-app.svg" alt="">
                                                    </div> 
                                                    <div id="heading">
                                                    <h3>Mobile Apps</h3>
                                                    <p>Build Android And IOS Apps Out Of  Box<br>With zero coding</p>
                                                    </div>
                                
                                                    </div>
                                                    <!-- new -->
                                                    <div id="tag">
                                                        <div id="img-tag">
                                                            <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/originals/629dd024a79e7dc97caf2384/hyperlocal-commerce.svg" alt="">
                                                        </div> 
                                                        <div id="heading">
                                                        <h3>Hyperlocal Ecommerce</h3>
                                                        <p>Comprehensive Location-Based<br>Ecommerce Solutions</p>
                                                        </div>
                                    
                                                        </div>

                         </div>
                         <!-- next line -->
                         <div id="slider-menu2">
                              <div id="tag2">
                                <p>industries</p>
                                <a href="#">View All</a>
                                
                              </div>
                            
                                <!-- new -->
                                <div id="tag">
                                    <div id="img-tag">
                                        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/originals/62ab0acedc79a8e35b793e10/agritech-1-.svg" alt="">
                                    </div> 
                                    <div id="heading">
                                    <h3>Agritech</h3>
                                    <p>Launch Your online Agritech portal</p>
                                    </div>
                
                                    </div>
                                <!-- new -->
                                <div id="tag">
                                    <div id="img-tag">
                                        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/originals/62ab151f2e8aad5bc8c3b545/cosmetics.svg" alt="">
                                    </div> 
                                    <div id="heading">
                                    <h3>Cosmetics</h3>
                                    <p>create your Cosmetics Store</p>
                                    </div>
                
                                    </div>
                                <!-- new -->
                                <div id="tag">
                                    <div id="img-tag">
                                        
                                        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/originals/62ab1546a9f0e35ba0452cf5/electronics-2-.svg" alt="">
                                    </div> 
                                    <div id="heading">
                                    <h3>Electronics</h3>
                                    <p>create your cosmetics store</p>
                                    </div>
                
                                    </div>
                                <!-- new -->
                                <div id="tag">
                                    <div id="img-tag">
                                        
                                        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/originals/62ab156349a3045b2ec0230b/fashion.svg" alt="">
                                    </div> 
                                    <div id="heading">
                                    <h3>fashion/Apparel</h3>
                                    <p>create your Fashion/apparel Store</p>
                                    </div>
                
                                    </div>
                                <!-- new -->
                                <div id="tag">
                                    <div id="img-tag">
                                        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/originals/62ab157aa9f0e35ba0453412/food-and-bevrrages.svg" alt="">
                                    </div> 
                                    <div id="heading">
                                    <h3>Food &  beverages</h3>
                                    <p>create your Food & Beverages Store</p>
                                    </div>
                
                                    </div>
                                    <!-- new -->
                                    <div id="tag">
                                        <div id="img-tag">
                                            <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/originals/62ab158fa9f0e35ba04536f2/grocery-2-.svg" alt="">
                                        </div> 
                                        <div id="heading">
                                        <h3>grocery</h3>
                                        <p>create your grocery Store</p>
                                        </div>
                    
                                        </div>
                                <!-- new -->
                         </div>
                  
                </div>
                
            </div>
        </div>
         <!-- develop--> 
          <div class="dropdown-container">
        <a href="#" id="dropdownBtn">Develop</a><i class="fa-solid fa-chevron-down"></i></a>
                 
            <div class="dropdown-content" id="myDropdown1">
            <div id="router">
            <div id="route1">
                <h2>DEVELOP</h2>
                <p>Developer friendly yet easy to <br>use tools</p>
                <a href="#"><button>VIEW ALL</button></a>
                <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/ms.categories/5d652bd989362f53f8e9eb6d/5d7f475316ac837dcf6c083f-250x250.png" alt="">
            </div>
            
            <div id="route2">
                <div id="route3">
                <div id="img1">
                    <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/originals/62b03ce20572793f90c41189/api.svg" alt="">
                     </div>
                    <div id="img">
                        <h3>API Reference</h3>
                        <p>Restful APIs To 100+ Endpoints</p>
                    </div>
                </div>
                <!-- new -->
                <div id="route3">
                    <div id="img1">
                        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/originals/62b03cf4f805774000135499/widget-refrernce.svg" alt="">
                         </div>
                        <div id="img">
                            <h3>Widget Reference</h3>
                            <p>Built-in Widgets To Build,Extend <br>Customise your Storefront</p>
                        </div>
                    </div>
                    <!-- new -->
                    <div id="route3">
                        <div id="img1">
                            <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/originals/62b03d0a9f46103f5c4c3bdd/integration.svg" alt="">
                             </div>
                            <div id="img">
                                <h3>Integrations</h3>
                                <p>120+ Built in Integrations</p>
                            </div>
                        </div>

                       <!-- new -->
                       <div id="route3">
                        <div id="img1">
                            <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/originals/62b03d1d9f46103f5c4c3da7/theme-designer.svg" alt="">
                             </div>
                            <div id="img">
                                <h3>Theme Designer</h3>
                                <p>Beautiful Mobile Ready Themes</p>
                            </div>
                        </div>
                    <!-- new -->
                    <div id="route3">
                        <div id="img1">
                            <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/originals/62b03d30957d163f1fe48afe/technology.svg" alt="">
                             </div>
                            <div id="img">
                                <h3>Technology</h3>
                                <p>Cutting-Edge Technology For Modern<br>Business</p>
                            </div>
                        </div>
                        <!-- new -->
                    
                
                
                
                
            
                </div>
            </div>

                
                
                
            </div>
        </div>
       <!-- example -->
        
        <!-- new -->
        <div class="dropdown-container">
        <a href="#" id="toggleButton">Example</a>
                 
            <div class="dropdown-content" id="myDropdown">
                
            </div>
        </div>
        <!-- pricing -->
        <div class="dropdown-container">
        <a href="#" id="toggleButton">Pricing</a>
                 
            <div class="dropdown-content" id="myDropdown">
                <div id="drop"></div>
                
            </div>
        </div>
        <!-- resouces -->
        <div class="dropdown-container">
        <a href="#" id="dropdownBtn2">Resources</a><i class="fa-solid fa-chevron-down"></i></a>
                 
            <div class="dropdown-content" id="myDropdown2">
                <div id="container">
                    <div class="pagemenu">
                        <h3>RESOURCES</h3>
                         <p>All that you need know to begin<br> your online store with StoreHippo</p>
                         <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/ms.categories/5d6618fffc4f6210fe467fda/5d7f476a16ac837dcf6c0af0-250x250.png" alt="">
                    </div>
                    <div class="pagemenu1">
                        <div id="main4">
                        <div class="pagemini">
                            <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/originals/62b03e48957d163f1fe4bb8d/themes.svg" alt="">
                            </div>
                            <div class="mini">
                                <h3>Themes</h3>
                                <p>Beautiful Themes Optimized For Multiple Devices</p>
                            </div>
                            
                        </div>
                        <!-- new -->
                        <div id="main4">
                            <div class="pagemini">
                                <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/originals/62b03e6ef80577400013900e/about-us.svg" alt="">
                                </div>
                                <div class="mini">
                                    <h3>About Us</h3>
                                    <p>Everything About StoreHippo's Origin <br>Mission</p>
                                </div>
                                
                            </div>
                            <!-- new -->
                            <div id="main4">
                                <div class="pagemini">
                                    <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/originals/62b03ea2f80577400013979d/contact-us.svg" alt="">
                                    </div>
                                    <div class="mini">
                                        <h3>Contact Us</h3>
                                        <p>Get in Touch  with StoreHippo support</p>
                                    </div>
                                    
                                </div>
                                <!-- new -->
                                <div id="main4">
                                    <div class="pagemini">
                                        <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/originals/62b03eb40572793f90c45455/blog.svg" alt="">
                                        </div>
                                        <div class="mini">
                                            <h3>Blog</h3>
                                            <p>E-Commerce Trends Tips And Expert<br>Guidance</p>
                                        </div>
                                        
                                    </div>
                                    <!-- new -->
                                    <div id="main4">
                                        <div class="pagemini">
                                            <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/originals/62b03ed4957d163f1fe4d106/whitepapers.svg" alt="">
                                            </div>
                                            <div class="mini">
                                                <h3>whitepapers</h3>
                                                <p>Data Driven  Insights On Ecommerce And Trends</p>
                                            </div>
                                            
                                        </div>
                                        <!-- new -->
                                        <div id="main4">
                                            <div class="pagemini">
                                                <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/originals/62b03ef00572793f90c45b4b/forum.svg" alt="">
                                                </div>
                                                <div class="mini">
                                                    <h3>Forum</h3>
                                                    <p>Exchange Experience & views On StoreHippo</p>
                                                </div>
                                                
                                            </div>
                                            <!-- new -->
                                            <div id="main4">
                                                <div class="pagemini">
                                                    <img src="https://cdn1.storehippo.com/s/5667e7d63086b2e718049ad9/originals/62b03f32f80577400013a991/help-center.svg" alt="">
                                                    </div>
                                                    <div class="mini">
                                                        <h3>Help Center</h3>
                                                        <p>How  To  Guides To Use  StoreHippo</p>
                                                    </div>
                                                    
                                                </div>
                                                <!-- new -->
                    </div>
                </div>
               
                
                
            </div>
        </div>


        
    </div>
    <div id="part2">
        <a href="/contact">CONTACT US</a>
        <button id="btn1"><i class="fa-solid fa-bars"></i><i class="fa-solid fa-chevron-down"></i></button>
    </div>
    <div id="part6">
        <h1>MENU</h1>
        <i class="fa-solid fa-bars"></i>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js" integrity="sha512-Ic9xkERjyZ1xgJ5svx3y0u3xrvfT/uPkV99LBwe68xjy/mGtO+4eURHZBW2xW4SZbFrF1Tf090XqB+EVgXnVjw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> 
       <script src="javascripts/nav.js"></script>
</nav>